
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small><%= I18n.translate("admin.appearance-page.subheader") %></small>
    </h1>
  </div>
</div>

<% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
<% end %>

<div class="row">
  <div class='col-lg-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.translate("admin.appearance-page.theme-panel.header") %></h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-1">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.appearance-page.theme-panel.portal-title-label") %>:</b> <%= portal_configuration[:title] %> <a class="teal-text" data-toggle="modal" data-target="#change-title-configurations-modal"><i class="fa fa-pencil"></i></a></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-1"></i>
            </div>
          </div>
          <div id="detail-1">
            <hr></hr>
            <div class="container">
              <div class="fluid-row">
                <div class="col-xs-12">
                  <p><%= I18n.translate("admin.appearance-page.theme-panel.portal-title-hint") %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-2">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.appearance-page.theme-panel.home-page-label") %>:</b> <%= portal_configuration[:applications_title] %> <a class="teal-text" data-toggle="modal" data-target="#change-application_title-configurations-modal"><i class="fa fa-pencil"></i></a></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-2"></i>
            </div>
          </div>
          <div id="detail-2">
            <hr></hr>
            <div class="container">
              <div class="fluid-row">
                <div class="col-xs-12">
                  <p><%= I18n.translate("admin.appearance-page.theme-panel.home-page-hint") %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-3">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.appearance-page.theme-panel.home-subtitle-label") %>:</b> <%= portal_configuration[:applications_subtitle] %> <a class="teal-text" data-toggle="modal" data-target="#change-application_subtitle-configurations-modal"><i class="fa fa-pencil"></i></a></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-3"></i>
            </div>
          </div>
          <div id="detail-3">
            <hr></hr>
            <div class="container">
              <div class="fluid-row">
                <div class="col-xs-12">
                  <p><%= I18n.translate("admin.appearance-page.theme-panel.home-subtitle-hint") %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-4">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.appearance-page.theme-panel.welcome-message-label") %>:</b> <%= portal_configuration[:applications_welcome_text] %> <a class="teal-text" data-toggle="modal" data-target="#change-welcome_message-configurations-modal"><i class="fa fa-pencil"></i></a></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-4"></i>
            </div>
          </div>
          <div id="detail-4">
            <hr></hr>
            <div class="container">
              <div class="fluid-row">
                <div class="col-xs-12">
                  <p><%= I18n.translate("admin.appearance-page.theme-panel.welcome-message-hint") %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-5">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.appearance-page.theme-panel.background-image-label") %>:</b> <img height="30px" width="auto" src="images/<%= portal_configuration[:applications_background_image] %>"> <%= portal_configuration[:applications_background_image] %> <a class="teal-text" data-toggle="modal" data-target="#change-background_image-configurations-modal"><i class="fa fa-pencil"></i></a></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-5"></i>
            </div>
          </div>
          <div id="detail-5">
            <hr></hr>
            <div class="container">
              <div class="fluid-row">
                <div class="col-xs-12">
                  <p><%= I18n.translate("admin.appearance-page.theme-panel.background-image-hint") %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-6">
            <div class="col-xs-10">
              <div class="row">
                <span class="col-lg-1">
                <b><%= I18n.translate("admin.appearance-page.theme-panel.colors-label") %>: </b>
                </span>
                <span class="col-lg-6">
                  <button class="jscolor {valueElement:'chosen-value', onFineChange:'setSidePanelColor(this)', value:'<%= portal_configuration[:side_panel_color] %>'}">
                    <%= I18n.translate("admin.appearance-page.theme-panel.side-main-color") %>
                  </button>
                  <button class="jscolor {valueElement:'chosen-value', onFineChange:'setSidePanelActiveColor(this)', value:'<%= portal_configuration[:side_panel_active_color] %>'}">
                    <%= I18n.translate("admin.appearance-page.theme-panel.side-active-color") %>
                  </button>
                  <button class="jscolor {valueElement:'chosen-value', onFineChange:'setTopPanelColor(this)', value:'<%= portal_configuration[:top_panel_color] %>'}">
                    <%= I18n.translate("admin.appearance-page.theme-panel.top-main-color") %>
                  </button>
                  <button class="jscolor {valueElement:'chosen-value', onFineChange:'setTopPanelActiveColor(this)', value:'<%= portal_configuration[:top_panel_active_color] %>'}">
                    <%= I18n.translate("admin.appearance-page.theme-panel.top-active-color") %>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-6"></i>
            </div>
          </div>
          <div id="detail-6">
            <hr></hr>
            <div class="container">
              <div class="fluid-row">
                <div class="col-xs-12">
                  <p><%= I18n.translate("admin.appearance-page.theme-panel.colors-hint") %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="row change-conf-div">
        <span>
          <a data-toggle="modal" data-target="#reset-visual-configurations-modal"  class="btn btn-primary conf-link reset-conf pull-right"><i class="fa fa-refresh"></i> <%= I18n.translate("general.buttons.reset") %></a>
        </span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var sidePanelColor = null;
  var sidePanelActiveColor = null;
  var topPanelColor = null;
  var topPanelActiveColor = null;
  document.body.onmouseup = function() {
    var data = {};
    if(sidePanelColor != null){
      data.side_panel_color = sidePanelColor;
      sidePanelColor = null;
    }
    else if(sidePanelActiveColor != null){
      data.side_panel_active_color = sidePanelActiveColor;
      sidePanelActiveColor = null;
    }
    else if(topPanelColor != null){
      data.top_panel_color = topPanelColor;
      topPanelColor = null;
    }
    else if(topPanelActiveColor != null){
      data.top_panel_active_color = topPanelActiveColor;
      topPanelActiveColor = null;
    }
    else {
      return;
    }

    $.ajax({
      url: '/conf/',
      type: 'PUT',
      data: JSON.stringify(data),
      success: function(result) {
        console.log(result);
        error = JSON.parse(result).error;
        if (error != null){
          $("<div class='alert alert-danger'><p>" +  error + "</p></div>").prependTo('#page-wrapper > div > div:nth-child(2)');
        }
      }
    });
  }

  function setSidePanelColor(picker) {
    sidePanelColor = picker.toString();
  }

  function setSidePanelActiveColor(picker) {
    sidePanelActiveColor = picker.toString();
  }

  function setTopPanelColor(picker) {
    topPanelColor = picker.toString();
  }

  function setTopPanelActiveColor(picker) {
    topPanelActiveColor = picker.toString();
  }
</script>

<!-- change visual configurations modal-->
<div class="modal fade" id="change-visual-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.edit-theme-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="title" class="form-control" value='<%= portal_configuration[:title] %>' autofocus="">
            <input type="text" name="applications_title" class="form-control" value='<%= portal_configuration[:applications_title] %>'>
            <input type="text" name="applications_subtitle" class="form-control" value='<%= portal_configuration[:applications_subtitle] %>'>
            <input type="file" name="applications_background_image" class="form-control filestyle" data-buttonText="Browse">
            <textarea name="applications_welcome_text" class="form-control" rows="5" id="comment" maxlength="300"><%= portal_configuration[:applications_welcome_text] %></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change title configurations modal-->
<div class="modal fade" id="change-title-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.edit-title-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="title" class="form-control" value='<%= portal_configuration[:title] %>' autofocus="">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change application title configurations modal-->
<div class="modal fade" id="change-application_title-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.edit-home-title-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="applications_title" class="form-control" value='<%= portal_configuration[:applications_title] %>' autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change application subtitle configurations modal-->
<div class="modal fade" id="change-application_subtitle-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.edit-home-subtitle-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="applications_subtitle" class="form-control" value='<%= portal_configuration[:applications_subtitle] %>' autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change welcome message configurations modal-->
<div class="modal fade" id="change-welcome_message-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.edit-welcome-message-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <textarea name="applications_welcome_text" class="form-control" rows="5" id="comment" maxlength="300"><%= portal_configuration[:applications_welcome_text] %></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change background image configurations modal-->
<div class="modal fade" id="change-background_image-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.edit-background-image-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" name="applications_background_image" class="form-control filestyle" data-buttonText="Browse">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- reset visual configurations modal-->
<div class="modal fade" id="reset-visual-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.reset-theme-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.appearance-page.popups.reset-theme-message") %></p>
        <form class="form-signin" action="/conf" method="post">
          <div class="form-group">
            <input type="hidden" name="reset" class="form-control" value='true' autofocus="">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.reset") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- load visual configurations modal-->
<div class="modal fade" id="load-visual-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.load-theme-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.appearance-page.popups.load-theme-message") %></p>
        <form class="form-signin" action="/conf" method="post">
          <div class="form-group">
            <input type="hidden" name="load" class="form-control" value='true' autofocus="">
            <select id="snapshot-select" name="filename" class="form-control">
            <% config_files.each do |conf_file| %>
              <%= "<option value='#{conf_file}'>#{conf_file.gsub('.yml', '')}</option>" %>
            <% end %>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.load") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- save visual configurations modal-->
<div class="modal fade" id="save-visual-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.appearance-page.popups.save-theme-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post">
          <div class="form-group">
            <input type="hidden" name="save"   class="form-control" value='true'>
            <input type="text" name="filename" class="form-control" id="filename" aria-describedby="filenameHelp" placeholder="Theme Name" autofocus="" required>
            <small id="filenameHelp" class="form-text text-muted"><%= I18n.translate("admin.appearance-page.popups.save-theme-message") %></small>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>