<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Mazizone <small>Snapshots</small>
    </h1>
  </div>
</div>

<% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
<% end %>

<div class="row">
  <div class='col-md-12 col-lg-12'>
    <p>
      You can use the tools bellow to take a snapshot of the current configuration of this Mazizone. This includes everything (network configurations, applications, application instances, notifications, visual configurations, etc).
    </p>
  </div>
  <div class='col-md-8 col-lg-6'>
    <div class="row">
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <div class="panel-title">Save Snapshot
              <i class="fa fa-info-circle pull-right" aria-hidden="true" title="You can use this to take a snapshot."></i>
            </div>
          </div> 
          <!-- panel body --> 
          <div class="panel-body">
            <div class="row">
              <form id="save-snapshot-form" action="/snapshot" method="post">
                <div class="form-group">
                <input type="hidden" name="save" class="form-control" value='true' autofocus="">
                <input type="text" name="snapshotname" class="form-control" id="snapshotname" aria-describedby="snapshotLoadHelp" placeholder="Snapshot Name" autofocus="" required>
                <small id="snapshotLoadHelp" class="form-text text-muted">Please enter the name of the new Snapshot.</small>
                </div>
                <button type="submit" class="btn btn-success pull-right" id="load-snapshot-submit"><i class="fa fa-save"></i> Save</button>
              </form>
            </div>
          </div> 
        </div>
      </div>

      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <div class="panel-title">Load Snapshot
              <i class="fa fa-info-circle pull-right" aria-hidden="true" title="You can use this to load a snapshot."></i>
            </div>
          </div> 
          <!-- panel body --> 
          <div class="panel-body">
            <div class="row">
              <% unless dbs.nil? || dbs.empty? %>
              <form id="load-snapshot-form" action="/snapshot" method="post">
                <div class="form-group">
                  <input type="hidden" name="load" class="form-control" value='true' autofocus="">
                  <select id="snapshot-select" name="snapshotname" class="form-control" aria-describedby="snapshotSaveHelp">
                    <% dbs.each do |db| %>
                    <option value='<%= db.gsub('.db', '') %>'><%= db.gsub('.db', '') %></option>
                    <% end %>
                  </select>
                  <small id="snapshotSaveHelp" class="form-text text-muted">Please select a snapshot and press load.</small>
                </div>
                <button type="button" class="btn btn-danger pull-left" id="delete-snapshot"><i class="fa fa-remove"></i> Delete</button>
                <button type="submit" class="btn btn-success pull-right" id="load-snapshot-submit"><i class="fa fa-upload"></i> Load</button>
              </form>
              <% else %>
              <p class="text-center">Currently, there are no snapshots saved.</p>
              <% end %>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-8 col-lg-6'>
    <div class="row">
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <div class="panel-title">Import/Export Snapshot
              <i class="fa fa-info-circle pull-right" aria-hidden="true" title="You can use this to export a snapshot to a zip file. Or import a zip file as a snapshot."></i>
            </div>
          </div> 
          <!-- panel body --> 
          <div class="panel-body">
            <div class="row" style="margin-right: -11px; margin-left: -11px;">
              <% unless dbs.nil? || dbs.empty? %>
              <form id="export-snapshot-form" action="/snapshot" method="post">
                <div class="form-group">
                  <select id="snapshot-select-download" name="snapshotname" class="form-control" aria-describedby="snapshotSaveHelp">
                    <% dbs.each do |db| %>
                    <option value='<%= db.gsub('.db', '') %>'><%= db.gsub('.db', '') %></option>
                    <% end %>
                  </select>
                  <small id="snapshotSaveHelp" class="form-text text-muted">Please select a snapshot and press load.</small>
                </div>
                <button type="button" class="btn btn-success pull-left" id="download-snapshot"><i class="fa fa-download"></i> Export</button>
              </form>
              <% else %>
              <p class="text-center">Currently, there are no snapshots saved.</p>
              <% end %>
              <a data-toggle="modal" data-target="#upload-snapshots-modal" class="btn btn-success pull-right"><i class="fa fa-upload"></i> Import</a>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<small>* Warning: If you load a new snapshot with different Wi-Fi network settings, your wireless connection to this Mazizone will be lost and you will need to reconnect to the new Wi-Fi network.</small></br>

<div class="row">
  <div class='col-md-12 col-lg-12'>
    <h3>Application snapshots</h3>
    <p>Use the panels bellow to Import/Export snapshots for the applications supported by this mazizone.</p>
  </div>
  <div class='col-lg-3 col-md-6 col-sm-12'>
    <div class="panel panel-default">
      <div class="panel-heading"> 
        <div class="panel-title">Interview
          <i class="fa fa-info-circle pull-right" aria-hidden="true" title="You can use this to import/export a snapshot."></i>
        </div>
      </div> 
      <!-- panel body --> 
      <div class="panel-body">
        <div class="row">
          <form id="load-snapshot-form" action="/snapshot" method="post">
            <div class="form-group">
              <input type="hidden" name="export_app" class="form-control" value='true'>
              <input type="hidden" name="application" class="form-control" value='Interview'>
              <input type="text" name="snapshotname" class="form-control" id="interview-snapshotname" aria-describedby="snapshotLoadHelp" placeholder="Snapshot Name" autofocus="" required>
            </div>
            <a data-toggle="modal" data-target="#upload-interview-snapshots-modal" class="btn btn-success pull-left"><i class="fa fa-upload"></i> Import</a>
            <button type="button" class="btn btn-success pull-right" id="download-interview-snapshot"><i class="fa fa-download"></i> Export</button>
          </form>
        </div>
      </div> 
    </div>
  </div>
</div>

<!-- upload snapshots modal-->
<div class="modal fade" id="upload-snapshots-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import Snapshot</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/snapshot" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" name="upload" class="form-control" value='true'>
            <input type="file" name="snapshot" class="form-control filestyle" data-buttonText="Browse">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Import</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- upload interview snapshots modal-->
<div class="modal fade" id="upload-interview-snapshots-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import Snapshot for Interview</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/snapshot" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" name="import_app" class="form-control" value='true'>
            <input type="hidden" name="application" class="form-control" value='Interview'>
            <input type="file" name="snapshot" class="form-control filestyle" data-buttonText="Browse">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Import</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>