<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small>Network Settings</small>
    </h1>
  </div>
</div>

<div class="row">
  <% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
  <% end %>
  <div class='col-lg-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Wi-Fi Network Settings</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-1">
            <div class="col-xs-10">
                <p><b>Name of the Wi-Fi Network (SSID):</b> <%= net_info[:ssid] %></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-1"></i>
            </div>
          </div>
          <div id="detail-1">
            <hr></hr>
            <div class="row">
              <div class="col-xs-12">
                <p>The Service Set IDentifier (SSID) is the name assigned to a Wi-Fi (wireless) network. All devices in the network must use this case-sensitive name to communicate over Wi-Fi, which is a text string up to 32 bytes long. Please press the edit button <i class="fa fa-pencil"></i> bellowchange it.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-2">
            <div class="col-xs-10">
                <p><b>Channel of the Wi-Fi Network:</b> <%= net_info[:channel] %></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-2"></i>
            </div>
          </div>
          <div id="detail-2">
            <hr></hr>
            <div class="row">
              <div class="col-xs-12">
                <p>Choosing the best Wi-Fi channel on your MAZI zone helps to reduce interference and improve your WI-Fi signal. Please press the edit button <i class="fa fa-pencil"></i> bellowto change it.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-3">
            <div class="col-xs-10">
                <p><b>Password of the Wi-Fi Network:</b> <%= net_info[:password] == '-' ? "<i style='color:grey'>No Password</i>" : net_info[:password] %></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-3"></i>
            </div>
          </div>
          <div id="detail-3">
            <hr></hr>
            <div class="row">
              <div class="col-xs-12">
                <p>The authentication password for the Wi-Fi (wireless) network. It must be at least 8 characters long. If it is left emtpy the Wi-Fi network security will be disabled. Please press the edit button <i class="fa fa-pencil"></i> bellow to change it.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="row change-conf-div">
        <span class='col-lg-12'>
          <a data-toggle="modal" data-target="#edit-wifi-network-modal" class="btn btn-primary conf-link change-conf pull-right"><i class="fa fa-pencil"></i> Edit</a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-lg-3 col-md-5'>
    <div class="panel panel-default">
      <div class="panel-heading"> 
        <div class="panel-title">Internet Network Mode</div>
      </div> 
      <!-- panel body --> 
      <div class="panel-body">
        <div class="col-xs-6 text-left"> 
          <h2 class="no-margins"><%= net_info[:mode] %></h2>
          <small>Mode of the Wi-Fi Network</small></br>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-globe"></i></br><button class="btn btn-primary pull-right connect-btn" data-toggle="modal" data-target="#change-mode-modal"><i class="fa fa-pencil"></i> Edit</button></div>
      </div> 
    </div>
  </div>
  <% unless net_info[:second_antenna] == 'inactive' %> 
  <% status = net_info[:second_antenna] == 'active ESSID:off/any' ? 'Disconnected' : net_info[:second_antenna].split(' ').last.gsub('ESSID:', '').gsub('"', '') %>
  <div class='col-lg-3 col-md-5'>
    <div class="panel panel-default">
      <div class="panel-heading"> 
        <div class="panel-title">Connect to Wi-Fi Network</div>
      </div> 
      <div class="panel-body">
        <div class="col-xs-6 text-left"> 
          <h2 class="no-margins"><%= status %></h2>
          <small><%= status == 'Disconnected' ? 'from Wi-Fi Networks' : 'Wi-Fi Network' %></small></br>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-wifi"></i></br><button class="btn btn-primary pull-right connect-btn" data-toggle="modal" data-target="#connect-ssid-modal">Connect</button></div>
      </div> 
    </div>
  </div>
  <% else %>
  <div class='col-lg-3 col-md-5'>
    <div class="panel panel-default">
      <div class="panel-heading"> 
        <div class="panel-title">Connect to Wi-Fi Network</div>
      </div> 
      <div class="panel-body">
        <div class="col-xs-6 text-left"> 
          <small>Please plugin an extra USB Wi-Fi dongle to your rasberry pi to enable this feature. Suggested USB dongles <a href="https://github.com/mazi-project/guides/wiki/Products" target="_blank">here</a></small>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-wifi"></i></br><button class="btn btn-primary pull-right connect-btn" data-toggle="modal" data-target="#connect-ssid-modal" disabled>Connect</button></div>
      </div> 
    </div>
  </div>  
  <% end %>
</div>


<!-- edit wifi network modal-->
<div class="modal fade" id="edit-wifi-network-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Wi-Fi configuration</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='wifiap.sh'>
            <label for='ssid'>SSID: </label>
            <input type="text" name="ssid" class="form-control" value='<%= net_info[:ssid] %>' required autofocus>
            <label for='channel'>Channel: </label>
            <select class="form-control" name='channel'>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
                <option value='13'>13</option>
                <option value='14'>14</option>
            </select>
            <label for='password'>Password: </label>
            <input type="text" name="password" class="form-control" value='<%= net_info[:password] == '-' ? '' : net_info[:password] %>'>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            <small>* Warning: If you change any configuration values for this Wi-Fi network, your wireless connection to this MAZI Zone will be lost and you will need to reconnect to the new Wi-Fi network.</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change ssid modal-->
<div class="modal fade" id="change-ssid-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Wi-Fi Network Settings</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='wifiap.sh'>
            <input type="text" name="ssid" class="form-control" value='<%= net_info[:ssid] %>' required>
            <input type="text" name="password" class="form-control" value='<%= net_info[:password] == '-' ? '' : net_info[:password] %>'>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change channel modal-->
<div class="modal fade" id="change-channel-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Channel</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='wifiap.sh'>
            <select class="form-control" name='channel'>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
                <option value='13'>13</option>
                <option value='14'>14</option>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change password modal-->
<div class="modal fade" id="change-password-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='wifiap.sh'>
            <input type="text" name="password" class="form-control" value='<%= net_info[:password] == '-' ? '' : net_info[:password] %>' autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change mode modal-->
<div class="modal fade" id="change-mode-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Mode</h4>
      </div>
      <div class="modal-body">
        <p>Use the form bellow to choose the Network Mode for this MAZI Zone. If you wish to choose the dual mode, please make sure to have access to the Internet (either through an ethernet cable or a Wi-Fi dongle).</p>  
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='internet.sh'>
            <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios1" value="offline" <%= 'checked' if net_info[:mode] == 'offline' %>>offline
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios2" value="dual" <%= 'checked' if net_info[:mode] == 'dual' %>>dual
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios3" value="restricted" <%= 'checked' if net_info[:mode] == 'restricted' %> disabled>restricted
                  </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- connect to ssid modal-->
<div class="modal fade" id="connect-ssid-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Connect to Wi-Fi Network</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='antenna.sh'>
            <% if net_info[:available_ssids].nil? || net_info[:available_ssids].empty? %>
            <label for="ssid">Select Wi-Fi name:</label>
            <input type="text" name="ssid" class="form-control" value='' required autofocus>
            <% else %>
            <label for="ssid">Select Wi-Fi name:</label>
            <select class="form-control" id="ssid" name='ssid'>
              <option></option>
              <% net_info[:available_ssids].each do |essid| %>
                <option><%= essid %></option>
              <% end%>
            </select>
            <% end %>
            <label for="ssid">Or type it here if it is hidden:</label>
            <input type="text" name="hidden-ssid" class="form-control" value=''>
            <label for="ssid">Type the password for the Wi-Fi network:</label>
            <input type="text" name="password" class="form-control" placeholder="Password" value=''>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connect</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>