<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small><%= I18n.translate("admin.import-export-page.subheader") %></small>
    </h1>
  </div>
</div>

<% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
<% end %>

<div class="row">
  <div class='col-md-12 col-lg-12'>
    <p>
      <%= I18n.translate("admin.import-export-page.message") %>
    </p>
  </div>
  <div class='col-md-8 col-lg-6'>
    <div class="row">
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.import-export-page.save-snapshot-panel.header") %>
              <i class="fa fa-info-circle pull-right" aria-hidden="true" title="<%= I18n.translate("admin.import-export-page.save-snapshot-panel.header-hint") %>"></i>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row">
              <form id="save-snapshot-form" action="/snapshot" method="post">
                <div class="form-group">
                <input type="hidden" name="save" class="form-control" value='true' autofocus="">
                <input type="text" name="snapshotname" class="form-control" id="snapshotname" aria-describedby="snapshotLoadHelp" placeholder="<%= I18n.translate("admin.import-export-page.save-snapshot-panel.form-placeholder") %>" autofocus="" required>
                <small id="snapshotLoadHelp" class="form-text text-muted"><%= I18n.translate("admin.import-export-page.save-snapshot-panel.form-hint") %></small>
                </div>
                <button type="submit" class="btn btn-success pull-right" id="load-snapshot-submit"><i class="fa fa-save"></i><%= I18n.translate("general.buttons.save") %></button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.import-export-page.load-snapshot-panel.header") %>
              <i class="fa fa-info-circle pull-right" aria-hidden="true" title="<%= I18n.translate("admin.import-export-page.load-snapshot-panel.header-hint") %>"></i>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row">
              <% unless dbs.nil? || dbs.empty? %>
              <form id="load-snapshot-form" action="/snapshot" method="post">
                <div class="form-group">
                  <input type="hidden" name="load" class="form-control" value='true' autofocus="">
                  <select id="snapshot-select" name="snapshotname" class="form-control" aria-describedby="snapshotSaveHelp">
                    <% dbs.each do |db| %>
                    <option value='<%= db.gsub('.db', '') %>'><%= db.gsub('.db', '') %></option>
                    <% end %>
                  </select>
                  <small id="snapshotSaveHelp" class="form-text text-muted"><%= I18n.translate("admin.import-export-page.load-snapshot-panel.message") %></small>
                </div>
                <button type="button" class="btn btn-danger pull-left" id="delete-snapshot"><i class="fa fa-remove"></i> <%= I18n.translate("general.buttons.delete") %></button>
                <button type="submit" class="btn btn-success pull-right" id="load-snapshot-submit"><i class="fa fa-upload"></i> <%= I18n.translate("general.buttons.load") %></button>
              </form>
              <% else %>
              <p class="text-center" style="margin-bottom: 82px"><%= I18n.translate("admin.import-export-page.load-snapshot-panel.no-snapshots-message") %>/p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-8 col-lg-6'>
    <div class="row">
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.import-export-page.import-export-panel.header") %>
              <i class="fa fa-info-circle pull-right" aria-hidden="true" title="<%= I18n.translate("admin.import-export-page.import-export-panel.header-hint") %>"></i>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row" style="margin-right: -11px; margin-left: -11px;">
              <% unless dbs.nil? || dbs.empty? %>
              <form id="export-snapshot-form" action="/snapshot" method="post">
                <div class="form-group">
                  <select id="snapshot-select-download" name="snapshotname" class="form-control" aria-describedby="snapshotSaveHelp">
                    <% dbs.each do |db| %>
                    <option value='<%= db.gsub('.db', '') %>'><%= db.gsub('.db', '') %></option>
                    <% end %>
                  </select>
                  <small id="snapshotSaveHelp" class="form-text text-muted"><%= I18n.translate("admin.import-export-page.import-export-panel.message") %></small>
                </div>
                <button type="button" class="btn btn-success pull-left" id="download-snapshot"><i class="fa fa-download"></i> <%= I18n.translate("general.buttons.export") %></button>
              </form>
              <% else %>
              <p class="text-center" style="margin-bottom: 48px"><%= I18n.translate("admin.import-export-page.import-export-panel.no-snapshots-message") %></p>
              <% end %>
              <a data-toggle="modal" data-target="#upload-snapshots-modal" class="btn btn-success pull-right"><i class="fa fa-upload"></i> <%= I18n.translate("general.buttons.import") %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<small>* <%= I18n.translate("admin.import-export-page.warning") %></small></br>

<div class="row">
  <div class='col-md-12 col-lg-12'>
    <h3><%= I18n.translate("admin.import-export-page.application-snapshots-header") %></h3>
    <p><%= I18n.translate("admin.import-export-page.application-snapshots-message") %></p>
  </div>
  <div class='col-lg-3 col-md-6 col-sm-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Interview
          <i class="fa fa-info-circle pull-right" aria-hidden="true" title="<%= I18n.translate("admin.import-export-page.interview-panel.header-hint") %>"></i>
        </div>
      </div>
      <!-- panel body -->
      <div class="panel-body">
        <div class="row">
          <form id="load-snapshot-form" action="/snapshot" method="post">
            <div class="form-group">
              <input type="hidden" name="export_app" class="form-control" value='true'>
              <input type="hidden" name="application" class="form-control" value='Interview'>
              <input type="text" name="snapshotname" class="form-control" id="interview-snapshotname" aria-describedby="snapshotLoadHelp" placeholder="<%= I18n.translate("admin.import-export-page.interview-panel.form-placeholder") %>" autofocus="" required>
            </div>
            <a data-toggle="modal" data-target="#upload-interview-snapshots-modal" class="btn btn-success pull-left"><i class="fa fa-upload"></i> <%= I18n.translate("general.buttons.import") %></a>
            <button type="button" class="btn btn-success pull-right" id="download-interview-snapshot"><i class="fa fa-download"></i> <%= I18n.translate("general.buttons.export") %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!--   <div class='col-lg-3 col-md-6 col-sm-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Etherpad
          <i class="fa fa-info-circle pull-right" aria-hidden="true" title="You can use this to import/export a snapshot."></i>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <form id="load-snapshot-form" action="/snapshot" method="post">
            <div class="form-group">
              <input type="hidden" name="export_app" class="form-control" value='true'>
              <input type="hidden" name="application" class="form-control" value='Etherpad'>
              <input type="text" name="snapshotname" class="form-control" id="etherpad-snapshotname" aria-describedby="snapshotLoadHelp" placeholder="Snapshot Name" autofocus="" required>
            </div>
            <a data-toggle="modal" data-target="#upload-etherpad-snapshots-modal" class="btn btn-success pull-left"><i class="fa fa-upload"></i> Import</a>
            <button type="button" class="btn btn-success pull-right" id="download-etherpad-snapshot"><i class="fa fa-download"></i> Export</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <div class='col-lg-3 col-md-6 col-sm-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">GuestBook
          <i class="fa fa-info-circle pull-right" aria-hidden="true" title="<%= I18n.translate("admin.import-export-page.guestbook-panel.header-hint") %>"></i>
        </div>
      </div>
      <!-- panel body -->
      <div class="panel-body">
        <div class="row">
          <form id="load-snapshot-form" action="/snapshot" method="post">
            <div class="form-group">
              <input type="hidden" name="export_app" class="form-control" value='true'>
              <input type="hidden" name="application" class="form-control" value='GuestBook'>
              <input type="text" name="snapshotname" class="form-control" id="guestbook-snapshotname" aria-describedby="snapshotLoadHelp" placeholder="<%= I18n.translate("admin.import-export-page.guestbook-panel.form-placeholder") %>" autofocus="" required>
            </div>
            <a data-toggle="modal" data-target="#upload-guestbook-snapshots-modal" class="btn btn-success pull-left"><i class="fa fa-upload"></i> <%= I18n.translate("general.buttons.import") %></a>
            <button type="button" class="btn btn-success pull-right" id="download-guestbook-snapshot"><i class="fa fa-download"></i> <%= I18n.translate("general.buttons.export") %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upload snapshots modal-->
<div class="modal fade" id="upload-snapshots-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.import-export-page.popups.import-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/snapshot" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" name="upload" class="form-control" value='true'>
            <input type="file" name="snapshot" class="form-control filestyle" data-buttonText="Browse">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.import") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- upload interview snapshots modal-->
<div class="modal fade" id="upload-interview-snapshots-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.import-export-page.popups.import-interview-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/snapshot" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" name="import_app" class="form-control" value='true'>
            <input type="hidden" name="application" class="form-control" value='Interview'>
            <input type="file" name="snapshot" class="form-control filestyle" data-buttonText="Browse">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.import") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- upload etherpad snapshots modal-->
<div class="modal fade" id="upload-etherpad-snapshots-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.import-export-page.popups.import-interview-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/snapshot" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" name="import_app" class="form-control" value='true'>
            <input type="hidden" name="application" class="form-control" value='Etherpad'>
            <input type="file" name="snapshot" class="form-control filestyle" data-buttonText="Browse">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.import") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- upload guestbook snapshots modal-->
<div class="modal fade" id="upload-guestbook-snapshots-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.import-export-page.popups.import-interview-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/snapshot" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" name="import_app" class="form-control" value='true'>
            <input type="hidden" name="application" class="form-control" value='GuestBook'>
            <input type="file" name="snapshot" class="form-control filestyle" data-buttonText="Browse">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.import") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>