<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Mazizone <small>Applications</small>
    </h1>
  </div>
</div>

<div class="row">
  <% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th title="toggle the application visibility on the Portal">Active</th>
        <th title="the opperation status of portal (running/stoppped)">Status</th>
        <th title="the name of the application">Application Name</th>
        <th title="the URL of the application">URL</th>
        <th title="the desciption that will be shown on the application tile on the Portal">Description</th>
        <th title="overall clicks for the application">Click Counter</th>
        <th title="actions that can be performed on the application" class='text-center'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% applications.each do |app| %>
        <% status = mode != 'demo' ? app.status : "ON" %>
      <tr class="app_tr" id="app_tr_<%= app.id.to_s %>">
        <td scope="row">
          <label class="switch" title="<%= app.enabled ? 'disable' : 'enable' %> the application">
            <input type="checkbox" <%= app.enabled ? 'checked' : '' %>>
            <div class="slider round enabled-switch" id='enabled-switch_<%= app.id %>'></div>
          </label>
        </td>
        <td><%= status == 'ON' ? '<span class="label label-success">running</span>' : '<span class="label label-danger">stopped</span>' %></td>
        <td><%= app.name %></td>
        <td><%= app.url %></td>
        <td><%= app.description %></td>
        <td><%= app.click_counter %></td>
        <td>
          <div class="text-center">
            <div class="btn-group pull-center">
              <a class="btn btn-success start_app" id='start_app_<%= app.id %>' <%= 'disabled' if status == 'ON' || app.name == 'NextCloud' %> title="Start Application">
                <i class="fa fa-play"></i>
              </a>
              <a class="btn btn-warning stop_app" id='stop_app_<%= app.id %>' <%= 'disabled' if status == 'OFF' || app.name == 'NextCloud' %> title="Stop Application">
                <i class="fa fa-stop"></i>
              </a>
              <a class="btn btn-info edit_app" id='edit_app_<%= app.id %>' data-toggle="modal" data-target="#edit-application-modal-<%= app.id %>" title="Edit Application">
                <i class="fa fa-pencil"></i>
              </a>
              <a class="btn btn-danger del_app" id='del_app_<%= app.id %>' title="Delete Application">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
        </td>
      </tr>
      <% end %> 
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-success teal-text pull-right" data-toggle="modal" data-target="#new-application-modal"  title="Create New Application"><i class="fa fa-plus"></i></a></td>
      </tr>
    </tfoot>
</table>
</div>

<!-- create application modal-->
<div class="modal fade" id="new-application-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new Application</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/application" method="post">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="name" required autofocus>
            <input type="text" name="url" class="form-control" placeholder="URL" required>
            <textarea name="description" class="form-control" rows="5" id="comment" placeholder='Description (150 characters max)' maxlength="150"></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% applications.each do |app| %>
<!-- edit application modal-->
<div class="modal fade" id="edit-application-modal-<%= app.id %>" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Application</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/application/edit" method="post">
          <div class="form-group">
            <input type="hidden" name="id" value="<%= app.id %>">
            <input type="text" name="name" class="form-control" value="<%= app.name %>" required autofocus>
            <input type="text" name="url" class="form-control" value="<%= app.url %>" required>
            <textarea name="description" class="form-control" rows="5" id="comment" maxlength="150"><%= app.description %></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

<div id="delete-dialog-confirm" title="Empty the recycle bin?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This application will be permanently deleted from the database. Do you wish to proceed?</p>
</div>