<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Mazizone <small>Notifications</small>
    </h1>
  </div>
</div>

<div class="row">
  <% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Title</th>
        <th>Body</th>
        <th class='text-center'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% notifications.each do |notification| %>
      <tr class="notification_tr" id="notification_tr_<%= notification.id.to_s %>">
        <td scope="row"><%= notification.id %></td>
        <td>
          <label class="switch">
            <input type="checkbox" <%= notification.enabled ? 'checked' : '' %>>
            <div class="slider round enabled-switch" id='enabled-switch_<%= notification.id %>'></div>
          </label>
        </td>
        <td><%= notification.title %></td>
        <td><%= notification.body %></td>
        <td>
          <div class="text-center">
            <div class="btn-group pull-center">
              <a class="btn btn-info edit_notification" id='edit_notification_<%= notification.id %>' data-toggle="modal" data-target="#edit-notification-modal-<%= notification.id %>"><i class="fa fa-pencil"></i></a>
              <a class="btn btn-danger del_notification" id='del_notification_<%= notification.id %>'><i class="fa fa-times"></i></a>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-success pull-right" data-toggle="modal" data-target="#new-notification-modal"><i class="fa fa-plus"></i></a></td>
      </tr>
    </tfoot>
</table>
</div>

<!-- create notification modal-->
<div class="modal fade" id="new-notification-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new notification</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/notification" method="post">
          <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Title" required autofocus>
            <textarea name="body" class="form-control" rows="5" id="body" placeholder='Body (200 characters max)' maxlength="200"></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% notifications.each do |notification| %>
<!-- edit notification modal-->
<div class="modal fade" id="edit-notification-modal-<%= notification.id %>" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Notification</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/notification/edit" method="post">
          <div class="form-group">
            <input type="hidden" name="id" value="<%= notification.id %>">
            <input type="text" name="name" class="form-control" value="<%= notification.title %>" required autofocus>
            <textarea name="description" class="form-control" rows="5" id="comment" maxlength="100"><%= notification.body %></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

<div id="delete-dialog-confirm" title="Empty the recycle bin?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This notification will be permanently deleted from the database. Do you wish to proceed?</p>
</div>