<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small><%= I18n.translate("admin.network-page.subheader") %></small>
    </h1>
  </div>
</div>
<% unless error_msg.nil? %>
<div class="alert alert-danger">
  <p><%= error_msg %></p>
</div>
<% end %>

<div class="row">
<% interfaces.each do |if_name, if_data| %>
  <% if if_data[:mode] == 'wifi' %>
  <script type="text/javascript">
     var qrcodetext = "WIFI:S:<%= if_data[:ssid] %>;T:WPA;P:<%= if_data[:password] %>;H:false;";
  </script>
  <div class='col-lg-4 col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= if_data[:name] %></h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-1">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.network-page.wifi-ap-interface-panel.ssid-name-label") %>:</b> <%= if_data[:ssid] %></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-1"></i>
            </div>
          </div>
          <div id="detail-1">
            <hr></hr>
            <div class="row">
              <div class="col-xs-12">
                <p><%= I18n.translate("admin.network-page.wifi-ap-interface-panel.ssid-name-description") %>:</b> <%= if_data[:ssid] %></p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-2">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.network-page.wifi-ap-interface-panel.wifi-channel-label") %>:</b> <%= if_data[:channel] %></p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-2"></i>
            </div>
          </div>
          <div id="detail-2">
            <hr></hr>
            <div class="row">
              <div class="col-xs-12">
                <p><%= I18n.translate("admin.network-page.wifi-ap-interface-panel.wifi-channel-description") %></p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row" id="dropdown-detail-3">
            <div class="col-xs-10">
                <p><b><%= I18n.translate("admin.network-page.wifi-ap-interface-panel.wifi-password-label") %>:</b> <%= if_data[:password] %> </p>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-3"></i>
            </div>
          </div>
          <div id="detail-3">
            <hr></hr>
            <div class="row">
              <div class="col-xs-12">
                <p><%= I18n.translate("admin.network-page.wifi-ap-interface-panel.wifi-password-description") %></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="row change-conf-div">
        <span class='col-lg-3'>
          <a data-toggle="modal" data-target="#show-qrcode-modal" class="btn btn-primary pull-left" style="margin-left: 10px;"><i class="fa fa-qrcode"></i> <%= I18n.translate("general.buttons.qrcode") %></a>
        </span>
        <span class='col-lg-6'>
          <p class='interface-type-p'><b>WiFi Access Point</b></p>
        </span>
        <span class='col-lg-3'>
          <a data-toggle="modal" data-target="#edit-wifi-network-modal-<%= if_name %>" class="btn btn-primary conf-link change-conf pull-right"><i class="fa fa-pencil-alt"></i> <%= I18n.translate("general.buttons.edit") %></a>
        </span>
      </div>
    </div>
  </div>

  <!-- edit wifi network modal-->
  <div class="modal fade" id="edit-wifi-network-modal-<%= if_name %>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= I18n.translate("admin.network-page.popups.edit-wifi-header") %></h4>
        </div>
        <div class="modal-body">
          <form class="form-signin" action="/exec" method="post">
            <div class="form-group">
              <input type="hidden" name="env" value='sh'>
              <input type="hidden" name="cmd" value='wifiap.sh'>
              <input type="hidden" name="interface" value='<%= if_name %>'>
              <label for='ssid'><%= I18n.translate("general.messages.ssid") %>: </label>
              <input type="text" name="ssid" class="form-control" value='<%= net_info[:ssid] %>' required autofocus>
              <label for='channel'><%= I18n.translate("general.messages.channel") %>: </label>
              <select class="form-control" name='channel'>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                  <option value='5'>5</option>
                  <option value='6'>6</option>
                  <option value='7'>7</option>
                  <option value='8'>8</option>
                  <option value='9'>9</option>
                  <option value='10'>10</option>
                  <option value='11'>11</option>
              </select>
              <label for='password'><%= I18n.translate("general.messages.password") %>: </label>
              <input type="text" name="password" class="form-control" value='<%= net_info[:password] == '-' ? '' : net_info[:password] %>'>
              <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
              <small>* <%= I18n.translate("admin.network-page.popups.edit-wifi-warning") %></small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% elsif if_data[:mode] == 'internet' %>
  <div class='col-lg-4 col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= if_data[:name] %></h3>
      </div>
      <div class="panel-body" style="border-bottom: 1px solid #ddd;">
        <div class="col-xs-6 text-left network-panel-min-height">
          <h2 class="no-margins"><%= if_data[:ssid] %></h2>
          <small><%= I18n.translate("admin.network-page.connect-wifi-panel.wifi-network-hint-2") %></small></br>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-wifi"></i></div>
      </div>
      <div class="row change-conf-div" style>
        <span class='col-lg-3'>
          <form action="/exec" method="post">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='antenna.sh'>
            <input type="hidden" name="interface" value='<%= if_name %>'>
            <input type="hidden" name="disconnect" value='true'>
            <button type='submit' class="btn btn-danger pull-left" style="margin-left: 10px;"><i class="fas fa-ban"></i> <%= I18n.translate("general.buttons.disconnect") %></button>
          </form>
        </span>
        <span class='col-lg-6'>
          <p class='interface-type-p'><b>Internet Connection</b></p>
        </span>
        <span class='col-lg-3'>
          <button class="btn btn-primary pull-right connect-btn" data-toggle="modal" data-target="#connect-ssid-modal-<%= if_name %>"><i class="fas fa-plug"></i> <%= I18n.translate("general.buttons.connect") %></button>
        </span>
      </div>
    </div>
  </div>

  <!-- connect to ssid modal-->
  <div class="modal fade" id="connect-ssid-modal-<%= if_name %>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= I18n.translate("admin.network-page.popups.connect-wifi-header") %></h4>
        </div>
        <div class="modal-body">
          <form class="form-signin" action="/exec" method="post">
            <div class="form-group">
              <input type="hidden" name="env" value='sh'>
              <input type="hidden" name="cmd" value='antenna.sh'>
              <input type="hidden" name="interface" value='<%= if_name %>'>
              <% if if_data[:available_ssids].nil? || if_data[:available_ssids].empty? %>
              <label for="ssid"><%= I18n.translate("admin.network-page.popups.select-wifi-label") %>:</label>
              <input type="text" name="ssid" class="form-control" value='' required autofocus>
              <% else %>
              <label for="ssid"><%= I18n.translate("admin.network-page.popups.select-wifi-label") %>:</label>
              <select class="form-control" id="ssid" name='ssid'>
                <option></option>
                <% if_data[:available_ssids].each do |essid| %>
                  <option><%= essid %></option>
                <% end%>
              </select>
              <% end %>
              <label for="hidden-ssid"><%= I18n.translate("admin.network-page.popups.type-wifi-label") %>:</label>
              <input type="text" name="hidden-ssid" class="form-control" value=''>
              <label for="password"><%= I18n.translate("admin.network-page.popups.type-password-label") %>:</label>
              <input type="text" name="password" class="form-control" placeholder="Password" value=''>
              <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.connect") %></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% elsif if_data[:mode] == 'mesh' %>
  <div class='col-lg-4 col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= if_data[:name] %></h3>
      </div>
      <div class="panel-body" style="border-bottom: 1px solid #ddd;">
        <div class="col-xs-6 text-left network-panel-min-height">
          <h2 class="no-margins">MAZI-Mesh</h2>
          <small>Mesh Network Gateway</small></br>
        </div>
        <div class="pull-right"><i class="fas fa-5x fa-broadcast-tower"></i></div>
      </div>
      <div class="row change-conf-div" style>
      <span class='col-lg-3'>
        <form action="/exec" method="post">
          <input type="hidden" name="env" value='bash'>
          <input type="hidden" name="cmd" value='mazi-mesh.sh'>
          <input type="hidden" name="mode" value='portal'>
          <input type="hidden" name="interface" value='<%= if_name %>'>
          <button type='submit' class="btn btn-danger pull-left" style="margin-left: 10px;"><i class="fas fa-ban"></i> <%= I18n.translate("general.buttons.disconnect") %></button>
        </form>
      </span>
      <span class='col-lg-6'>
        <p class='interface-type-p'><b>Mesh Network</b></p>
      </span>
      <span class='col-lg-3'>

      </span>
      </div>
    </div>
  </div>
  <% else %>
  <div class='col-lg-4 col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= if_data[:name] %></h3>
      </div>
      <div class="panel-body" style="border-bottom: 1px solid #ddd;">
        <div class="col-xs-6 text-left network-panel-min-height">
          <small><%= I18n.translate("admin.network-page.unconfigured-dongle-panel.message") %></small>
        </div>
        <div class="pull-right"><i class="fas fa-5x fa-unlink"></i></div>
      </div>
      <div class="row change-conf-div" style>
        <span class='col-lg-3'></span>
      <span class='col-lg-6'>
        <p class='interface-type-p'><b>Not Configured</b></p>
      </span>
      <span class='col-lg-3'>
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#configure-interface-modal-<%= if_name %>"><i class="fas fa-cog"></i> <%= I18n.translate("general.buttons.configure") %></button>
      </span>
      </div>
    </div>
  </div>
  <!-- configure interface modal-->
  <div class="modal fade" id="configure-interface-modal-<%= if_name %>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= I18n.translate("general.buttons.configure") %></h4>
        </div>
        <div class="modal-body">
          <label for="interface-type">Select Interface Type:</label>
          <select class="form-control configure-interface-type" id="configure-interface-type-<%= if_name %>"  name='interface-type'>
            <option></option>
            <option value="wifi">WiFi Access Point</option>
            <option value="internet">Internet Connection</option>
            <option value="mesh">Mesh</option>
          </select>
          <form class="form-signin" action="/exec" method="post" id="configure-wifi-form-<%= if_name %>" hidden>
            <div class="form-group">
              <input type="hidden" name="env" value='bash'>
              <input type="hidden" name="cmd" value='wifiap.sh'>
              <input type="hidden" name="interface" value='<%= if_name %>'>
              <label for='ssid'><%= I18n.translate("general.messages.ssid") %>: </label>
              <input type="text" name="ssid" class="form-control" value='<%= if_data[:ssid] %>' required autofocus>
              <label for='channel'><%= I18n.translate("general.messages.channel") %>: </label>
              <select class="form-control" name='channel'>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                  <option value='5'>5</option>
                  <option value='6'>6</option>
                  <option value='7'>7</option>
                  <option value='8'>8</option>
                  <option value='9'>9</option>
                  <option value='10'>10</option>
                  <option value='11'>11</option>
              </select>
              <label for='password'><%= I18n.translate("general.messages.password") %>: </label>
              <input type="text" name="password" class="form-control" value='<%= if_data[:password] == '-' ? '' : if_data[:password] %>'>
              <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
              <small>* <%= I18n.translate("admin.network-page.popups.edit-wifi-warning") %></small>
            </div>
          </form>
          <form class="form-signin" action="/exec" method="post" id="configure-internet-form-<%= if_name %>" hidden>
            <div class="form-group">
              <input type="hidden" name="env" value='bash'>
              <input type="hidden" name="cmd" value='antenna.sh'>
              <input type="hidden" name="interface" value='<%= if_name %>'>
              <% if if_data[:available_ssids].nil? || if_data[:available_ssids].empty? %>
              <label for="ssid"><%= I18n.translate("admin.network-page.popups.select-wifi-label") %>:</label>
              <input type="text" name="ssid" class="form-control" value='' required autofocus>
              <% else %>
              <label for="ssid"><%= I18n.translate("admin.network-page.popups.select-wifi-label") %>:</label>
              <select class="form-control" id="ssid" name='ssid'>
                <option></option>
                <% if_data[:available_ssids].each do |essid| %>
                  <option><%= essid %></option>
                <% end%>
              </select>
              <% end %>
              <label for="hidden-ssid"><%= I18n.translate("admin.network-page.popups.type-wifi-label") %>:</label>
              <input type="text" name="hidden-ssid" class="form-control" value=''>
              <label for="password"><%= I18n.translate("admin.network-page.popups.type-password-label") %>:</label>
              <input type="text" name="password" class="form-control" placeholder="Password" value=''>
              <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.connect") %></button>
            </div>
          </form>
          <form class="form-signin" action="/exec" method="post" id="configure-mesh-form-<%= if_name %>" hidden>
            <div class="form-group">
              <input type="hidden" name="env" value='bash'>
              <input type="hidden" name="cmd" value='mazi-mesh.sh'>
              <input type="hidden" name="interface" value='<%= if_name %>'>
              <input type="hidden" name="bridge" value='<%= net_info[:ap].to_s %>'>
              <label for="mode"><%= I18n.translate("admin.network-page.popups.select-mesh-mode-label") %>:</label>
              <select class="form-control" name='mode'>
                <option value='gateway'>Gateway</option>
                <option value='node'>Node</option>
              </select>
              <label for="ssid"><%= I18n.translate("admin.network-page.popups.select-wifi-label") %>:</label>
              <input type="text" name="ssid" class="form-control" value='MAZI-Mesh' required>
              <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.connect") %></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
<hr class="style14">
<div class="row">
  <div class='col-lg-4 col-md-6 col-sm-6 col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= I18n.translate("admin.network-page.internet-panel.header") %></div>
      </div>
      <div class="panel-body">
        <div class="col-xs-6 text-left network-panel-min-height">
          <h2 class="no-margins"><%= net_info[:mode] == 'dual' ? I18n.translate("general.messages.online") : I18n.translate("general.messages.#{net_info[:mode]}") %></h2>
          <small><%= I18n.translate("admin.network-page.internet-panel.mode-hint") %></small></br>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-globe"></i></br><button class="btn btn-primary pull-right mode-btn" data-toggle="modal" data-target="#change-mode-modal"><i class="fa fa-pencil-alt"></i> <%= I18n.translate("general.buttons.edit") %></button></div>
      </div>
    </div>
  </div>
  <div class='col-lg-4 col-md-6 col-sm-6 col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= I18n.translate("admin.network-page.portal-domain-panel.header") %></div>
      </div>
      <div class="panel-body">
        <div class="col-xs-6 text-left network-panel-min-height">
          <h2 class="no-margins"><%= net_info[:domain] %></h2>
          <small><%= I18n.translate("admin.network-page.portal-domain-panel.domain-hint") %></small></br>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-external-link-square-alt"></i></br><button class="btn btn-primary pull-right domain-btn" data-toggle="modal" data-target="#change-domain-modal"><i class="fa fa-pencil-alt"></i> <%= I18n.translate("general.buttons.edit") %></button></div>
      </div>
    </div>
  </div>
  <% if net_info[:owrt_router_available] == 'available' %>
    <% current_wifi_if = net_info[:current_wifi_interface] == 'Raspberry' ? 'Raspberry' : "External Router" %>
    <% action = 'activate' if net_info[:current_wifi_interface] == 'Raspberry' %>
    <% action = 'deactivate' if net_info[:current_wifi_interface] == 'OpenWrt' %>
    <% action = 'deactivate' if net_info[:current_wifi_interface].nil?         %>
  <div class='col-lg-4 col-md-6 col-sm-6 col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= I18n.translate("admin.network-page.access-point-panel.header") %></div>
      </div>
      <div class="panel-body">
        <div class="col-xs-6 text-left network-panel-min-height">
          <h2 class="no-margins"><%= current_wifi_if %></h2>
          <small><%= I18n.translate("admin.network-page.access-point-panel.current-hint") %></small></br>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-link" style="margin-left: 15px;"></i></br>
          <button class="btn btn-primary pull-right toggel-ap-btn" data-toggle="modal" data-target="#toggle-ap-modal"><%= I18n.translate("general.buttons.toggle-device") %></button>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class='col-lg-4 col-md-6 col-sm-6 col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= I18n.translate("admin.network-page.access-point-panel.header") %></div>
      </div>
      <div class="panel-body">
        <div class="col-xs-6 text-left network-panel-min-height">
          <small><%= I18n.translate("admin.network-page.access-point-panel.router-message") %> <a href="https://github.com/mazi-project/guides/wiki/Products" target="_blank"><%= I18n.translate("general.messages.here") %></a></small>
        </div>
        <div class="pull-right"><i class="fa fa-fw fa-5x fa-link" style="margin-left: 15px;"></i></br><button class="btn btn-primary pull-right toggle-ap-btn" disabled><%= I18n.translate("general.buttons.toggle-device") %></button></div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- show qrcode modal-->
<div class="modal fade" id="show-qrcode-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.network-page.popups.show-qrcode-header") %></h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <div id="qrcodeCanvas"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change mode modal-->
<div class="modal fade" id="change-mode-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.network-page.popups.change-mode-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.network-page.popups.change-mode-message") %></p>
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='internet.sh'>
            <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios1" value="offline" <%= 'checked' if net_info[:mode] == 'offline' %>><%= I18n.translate("general.messages.offline") %>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios2" value="online" <%= 'checked' if net_info[:mode] == 'online' || net_info[:mode] == 'dual' %> <%= 'disabled' unless net_info[:current_internet_connection_on] %>><%= I18n.translate("general.messages.online") %>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios3" value="restricted" <%= 'checked' if net_info[:mode] == 'restricted' %> disabled><%= I18n.translate("general.messages.managed") %>
                  </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change domain modal-->
<div class="modal fade" id="change-domain-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.network-page.popups.change-domain-header") %></h4>
      </div>
      <div class="modal-body">
        <p></p>
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='mazi-domain.sh'>
            <input type="text" name="domain" class="form-control" value='<%= net_info[:domain] %>' required>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
        <small>** <%= I18n.translate("admin.network-page.popups.change-domain-warning") %>: local.mazizone.eu:4567/admin</small>
      </div>
    </div>
  </div>
</div>
