<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Mazizone <small>Network Settings</small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Wi-Fi Network Settings</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row" id="dropdown-detail-1">
          <div class="col-xs-10">
              <p><b>Name of the WiFi Network (SSID):</b> <%= net_info[:ssid] %> <a class="teal-text change-ssid" data-toggle="modal" data-target="#change-ssid-modal"><i class="fa fa-pencil"></i></a></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-1"></i>
          </div>
        </div>
        <div id="detail-1">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>The Service Set IDentifier (SSID) is the name assigned to a Wi-Fi (wireless) network. All devices in the network must use this case-sensitive name to communicate over Wi-Fi, which is a text string up to 32 bytes long. Please press the edit button <i class="fa fa-pencil"></i> on the right of the currently used ssid to change it.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row" id="dropdown-detail-2">
          <div class="col-xs-10">
              <p><b>Channel of the WiFi Network:</b> <%= net_info[:channel] %> <a class="teal-text change-channel" data-toggle="modal" data-target="#change-channel-modal"><i class="fa fa-pencil"></i></a></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-2"></i>
          </div>
        </div>
        <div id="detail-2">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>The Service Set IDentifier (SSID) is the name assigned to a Wi-Fi (wireless) network. All devices in the network must use this case-sensitive name to communicate over Wi-Fi, which is a text string up to 32 bytes long. Please press the edit button <i class="fa fa-pencil"></i> on the right of the currently used channel to change it.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row" id="dropdown-detail-3">
          <div class="col-xs-10">
              <p><b>Password of the WiFi Network:</b> <%= net_info[:password] == '-' ? "<i style='color:grey'>No Password</i>" : net_info[:password] %> <a class="teal-text change-password" data-toggle="modal" data-target="#change-password-modal"><i class="fa fa-pencil"></i></a></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-3"></i>
          </div>
        </div>
        <div id="detail-3">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>The authentication password for the Wi-Fi (wireless) network. It must be at least 8 characters long. If it is left emtpy the Wi-Fi network security will be disabled. Please press the edit button <i class="fa fa-pencil"></i> on the right of the currently used password to change it.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row" id="dropdown-detail-4">
          <div class="col-xs-10">
              <p><b>Mode of the WiFi Network:</b> <%= net_info[:mode] %> <a class="teal-text change-mode" data-toggle="modal" data-target="#change-mode-modal"><i class="fa fa-pencil"></i></a></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right toggle" data-toggle="detail-4"></i>
          </div>
        </div>
        <div id="detail-4">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>
                  The operation mode for the Wi-Fi network defines the way this network behaves in terms of allowing the users to access the internet or not. </br>
                  <b style='padding-left: 5px'>offline</b> mode: Does not allow user to access the internet.</br>
                  <b style='padding-left: 5px'>dual</b> mode: Allows users to access both local network and the internet.</br>
                  <b style='padding-left: 5px'>restricted</b> mode: is a hybrid of offline and dual modes.</br>
                  Please press the edit button <i class="fa fa-pencil"></i> on the right of the currently used password to change it.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- change ssid modal-->
<div class="modal fade" id="change-ssid-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change SSID</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='wifiap.sh'>
            <input type="text" name="ssid" class="form-control" value='<%= net_info[:ssid] %>' required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change channel modal-->
<div class="modal fade" id="change-channel-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Channel</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='wifiap.sh'>
            <select class="form-control" name='channel'>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
                <option value='13'>13</option>
                <option value='14'>14</option>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change password modal-->
<div class="modal fade" id="change-password-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='wifiap.sh'>
            <input type="text" name="password" class="form-control" value='<%= net_info[:password] %>' required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change mode modal-->
<div class="modal fade" id="change-mode-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Mode</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/exec" method="post">
          <div class="form-group">
            <input type="hidden" name="env" value='sh'>
            <input type="hidden" name="cmd" value='internet.sh'>
            <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios1" value="offline" <%= 'checked' if net_info[:mode] == 'offline' %>>offline
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios2" value="dual" <%= 'checked' if net_info[:mode] == 'dual' %>>dual
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="mode" id="optionsRadios3" value="restricted" <%= 'checked' if net_info[:mode] == 'restricted' %>>restricted
                  </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>