<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mazi Portal">
  <meta name="author" content="nitlab">

  <title>Mazizone Portal</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/jquery-ui.min.css" rel="stylesheet">
  <link href="css/admin_main.css" rel="stylesheet">
  <link href="css/plugins/morris.css" rel="stylesheet">
  <!-- <link href="css/pick-a-color-1.2.3.min.css" rel="stylesheet"> -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <% js.each do |j| %>
    <script src="<%= j %>"></script>
  <% end %>
</head>

<body>

  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="admin">Mazizone Portal Administration Panel</a>
      </div>
      <ul class="nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu alert-dropdown">
            <li>
              <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
            </li>
            <li>
              <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
            </li>
            <li>
              <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
            </li>
            <li>
              <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
            </li>
            <li>
              <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
            </li>
            <li>
              <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">View All</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li <%= 'class="active"' if main_body == :admin_application %> >
            <a href="admin_application"><i class="fa fa-fw fa-dashboard"></i> Aplications</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_network %>>
            <a href="admin_network"><i class="fa fa-fw fa-wifi"></i> Networking</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_configuration %>>
            <a href="admin_configuration"><i class="fa fa-fw fa-cog"></i> Configurations</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">

        <% local_data[:error_msg] = nil %>
        <%= erb main_body, locals: local_data %>

      </div>
    </div>
  </div>
</body>
</html>
