<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small><%= I18n.translate("admin.updates.subheader") %></small>
    </h1>
  </div>
</div>

<% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
<% end %>

<div class='row'>
  <div class='col-lg-12'>
    <p>The current update channel is: <b><%= current_branch == 'stretch' ? I18n.translate("general.messages.stable") : I18n.translate("general.messages.development") %></b></p>
    <p class="alert alert-success"><%= I18n.translate("admin.updates.update-message-0") %>:
      <select id="update-channel-sel">
        <option value='stretch' <%= 'selected="selected"' if current_branch == 'stretch' %>><%= I18n.translate("general.messages.stable") %></option>
        <option value='stretchDev'  <%= 'selected="selected"' if current_branch == 'stretchDev' %>><%= I18n.translate("general.messages.development") %></option>
      </select></br>
      <small><%= I18n.translate("admin.updates.update-chan-hint", link: "<a href='https://github.com/mazi-project/guides/wiki/Version-History' target='_blank'>#{I18n.translate("general.messages.here")}</a>") %></small></br>
      <small><%= I18n.translate("admin.updates.update-chan-warn") %></small>
    </p>
    <button type="button" class="btn btn-default choose-branch-btn pull-left" data-toggle="modal" data-target="#update-version-modal"><%= I18n.translate("general.buttons.update") %></button>
  </div>
</div>

<!-- update version modal-->
<div class="modal fade" id="update-version-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= I18n.translate("admin.top-menu.check-updates") %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-m-12 checking4updates">
              <p class="alert alert-success"><i class="fa fa-spin fa-circle-notch"></i> <%= I18n.translate("admin.updates.checking-updates") %></p>
            </div>
            <div class="col-m-12 staged-error" hidden>
              <p class="alert alert-danger"> <%= I18n.translate("admin.updates.alert-message-1", :command => "'git checkout -- &ltfile&gt'") %></p>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.translate("general.buttons.close") %></button>
            </div>
            <div class="col-m-12 no-internet-error" hidden>
              <p class="alert alert-danger"> <%= I18n.translate("admin.updates.update-message-1") %></p>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.translate("general.buttons.close") %></button>
            </div>
            <div class="col-m-12 demo-mode-error" hidden>
              <p class="alert alert-danger"> <%= I18n.translate("admin.updates.update-message-2") %></p>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.translate("general.buttons.close") %></button>
            </div>
            <div class="col-m-12 up2date" hidden>
              <p class="alert alert-success"> <%= I18n.translate("admin.updates.update-message-3") %></br>
              <small><%= I18n.translate("admin.updates.last-jessie-warn") %></small></p>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.translate("general.buttons.close") %></button>
            </div>
            <div class="col-m-12 update-ready" hidden>
              <p class='update-ready'></p>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.translate("general.buttons.close") %></button>
              <button type="button" class="btn btn-primary update-btn pull-right"><%= I18n.translate("general.buttons.update") %></button>
            </div>
            <div class="col-m-12 updating" hidden>
              <p class="alert alert-success"><i class="fa fa-spin fa-circle-notch"></i> <%= I18n.translate("admin.updates.update-message-4") %></p>
            </div>
            <div class="col-m-12 update-done" hidden>
              <p class="alert alert-success"><i class="fa fa-spin fa-circle-notch"></i> <%= I18n.translate("admin.updates.update-message-5") %></p>
              <small><%= I18n.translate("admin.updates.update-hint") %></small>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.translate("general.buttons.close") %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var update_message_1 = "<%= I18n.translate("admin.updates.update-message-6") %>";
</script>
