<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small><%= I18n.translate("admin.monitoring-page.subheader") %></small>
    </h1>
  </div>
</div>

<% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
<% end %>

<div class="row">
  <div class='col-md-12 col-lg-12'>
    <p>
      <%= I18n.translate("admin.monitoring-page.message") %>
    </p>
  </div>
  <div class='col-md-12 col-lg-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= I18n.translate("admin.monitoring-page.details-panel.header") %>
          <i class="fa fa-info-circle pull-right" aria-hidden="true" title="<%= I18n.translate("admin.monitoring-page.details-panel.header-hint") %>"></i>
        </div>
      </div>
      <!-- panel body -->
      <div class="panel-body">
        <div class="row">
          <div class='col-md-12'>
            <label class="switch" title="<%= I18n.translate("admin.monitoring-page.details-panel.toggle-monitoring-hint") %>">
              <input type="checkbox" <%= monitoring_enabled ? 'checked' : '' %>>
              <div class="slider round enabled-monitoring-switch"></div>
            </label>
            <span class="device-enable-msg"><%= I18n.translate("admin.monitoring-page.details-panel.toggle-monitoring-message") %></span>
          </div>
        </div>
        <% if monitoring_enabled %>
        <div class="row">
          <div class='col-md-12'>
            <p><%= I18n.translate("admin.monitoring-page.details-panel.details-message") %></p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><%= I18n.translate("admin.monitoring-page.details-panel.table-label1") %>: </td>
                  <td><%= details[:deployment] %></td>
                </tr>
                <tr>
                  <td><%= I18n.translate("admin.monitoring-page.details-panel.table-label2") %>: </td>
                  <td><%= details[:admin] %></td>
                </tr>
                <tr>
                  <td><%= I18n.translate("admin.monitoring-page.details-panel.table-label3") %>: </td>
                  <td><%= details[:title] %></td>
                </tr>
                <tr>
                  <td><%= I18n.translate("admin.monitoring-page.details-panel.table-label4") %>: </td>
                  <td><%= details[:description] %></td>
                </tr>
                <tr>
                  <td><%= I18n.translate("admin.monitoring-page.details-panel.table-label5") %>: </td>
                  <td><%= details[:loc] %></td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-primary edit-details pull-right" id='edit-monitoring-details' data-toggle="modal" data-target="#edit-details-modal"><i class="fa fa-edit"> <%= I18n.translate("general.buttons.edit") %></i>
            </a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if monitoring_enabled %>
  <div class='col-md-12 col-lg-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= I18n.translate("admin.monitoring-page.statistics-panel.header") %>
          <i class="fa fa-info-circle pull-right" aria-hidden="true" title="<%= I18n.translate("admin.monitoring-page.statistics-panel.header-hint") %>"></i>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class='col-md-12'>
            <p><%= I18n.translate("admin.monitoring-page.statistics-panel.message") %></p>
            <table class="table">
              <thead>
                <tr>
                  <th title="current status"><%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.status") %></th>
                  <th title="a description"><%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.description") %></th>
                  <th title="the action" class='text-center' style='width: 130px'><%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.action") %></th>
                </tr>
              </thead>
              <tbody>
                <tr class="app_inst_tr">
                  <% if hardware_monitoring_status['overall'] %>
                    <% hardware_label_title_message = '' %>
                    <% hardware_monitoring_status.each do |key, value| %>
                      <% next if key == 'overall' || key == 'network'%>
                      <% hardware_label_title_message += "#{key} : #{value} \n" %>
                    <% end %>
                  <% end %>
                  <td><%= hardware_monitoring_status['overall'] ? "<span class='label label-success hw-mon-stat-lab' title='#{hardware_label_title_message}'>#{I18n.translate("general.messages.active")}</span>" : "<span class='label label-danger' title='#{I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.no-hardware-tasks-message")}'>#{I18n.translate("general.messages.inactive")}</span>" %></td>
                  <td><%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.hardware-description-message") %></td>
                  <td>
                    <div class="text-center">
                      <div class="btn-group pull-center">
                        <a class="btn btn-primary start-hardware-data" title="<%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.start-hardware-task-hint") %>" id='start-monitoring-hardware-data' data-toggle="modal" data-target="#start-hardware-data-modal" <%= 'disabled' if hardware_monitoring_status['overall'] %>><i class="fa fa-play"></i></a>
                        <a class="btn btn-warning stop-hardware-monitoring-data-button" title="<%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.stop-hardware-task-hint") %>" <%= 'disabled' unless hardware_monitoring_status['overall'] %>><i class="fa fa-stop"></i></a>
                        <a class="btn btn-danger flush-hardware-monitoring-data-button" title="<%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.delete-hardware-data-hint") %>" id='flush-monitoring-hardware-data' data-toggle="modal" data-target="#flush-hardware-data-modal"><i class="fa fa-remove"></i></a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="app_inst_tr">
                  <% if application_monitoring_status['overall'] %>
                    <% application_label_title_message = '' %>
                    <% application_monitoring_status.each do |key, value| %>
                      <% next if key == 'overall' || key == 'network'%>
                      <% application_label_title_message += "#{key} : #{value} \n" %>
                    <% end %>
                  <% end %>
                  <td><%= application_monitoring_status['overall'] ? "<span class='label label-success app-mon-stat-lab' title='#{application_label_title_message}'>#{I18n.translate("general.messages.active")}</span>" : "<span class='label label-danger' title='#{I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.no-application-tasks-message")}'>#{I18n.translate("general.messages.inactive")}</span>" %></td>
                  <td><%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.application-description-message") %></td>
                  <td>
                    <div class="text-center">
                      <div class="btn-group pull-center">
                        <a class="btn btn-primary start-application-data" title="<%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.start-application-task-hint") %>" id='start-monitoring-application-data' data-toggle="modal" data-target="#start-application-data-modal" <%= 'disabled' if application_monitoring_status['overall'] %>><i class="fa fa-play"></i></a>
                        <a class="btn btn-warning stop-application-monitoring-data-button" title="<%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.stop-application-task-hint") %>" <%= 'disabled' unless application_monitoring_status['overall'] %>><i class="fa fa-stop"></i></a>
                        <a class="btn btn-danger flush-application-monitoring-data-button" id='flush-monitoring-application-data' data-toggle="modal" data-target="#flush-application-data-modal" title="<%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.delete-application-data-hint") %>"><i class="fa fa-remove"></i></a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tr></tr>
              <tfoot>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- change monitoring details modal-->
<div class="modal fade" id="edit-details-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.monitoring-page.popups.change-details-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.monitoring-page.popups.change-details-message") %></p>
        <form class="form-signin" action="/monitor/change/details" method="post">
          <div class="form-group">
            <label for='monitor_deployment'><%= I18n.translate("admin.monitoring-page.popups.change-details-label1") %>:</label>
            <input type="text" id='monitor_deployment' name="deployment" class="form-control" value="<%= details[:deployment] %>" autofocus>
            <label for='monitor_admin_name'><%= I18n.translate("admin.monitoring-page.popups.change-details-label2") %>:</label>
            <input type="text" id='monitor_admin_name' name="admin" class="form-control" value="<%= details[:admin] %>" required>
            <label for='monitor_title'><%= I18n.translate("admin.monitoring-page.popups.change-details-label3") %>:</label>
            <input type="text" id='monitor_title' name="title" class="form-control" value="<%= details[:title] %>" required>
            <label for='monitor_description'><%= I18n.translate("admin.monitoring-page.popups.change-details-label4") %>:</label>
            <input type="text" id='monitor_description' name="description" class="form-control" value="<%= details[:description] %>" required>
            <label for='monitor_location'><%= I18n.translate("admin.monitoring-page.popups.change-details-label5") %>:</label>
            <input type="text" id='monitor_location' name="loc" class="form-control" value="<%= details[:loc] %>" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.save") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- start hardware monitoring data modal-->
<div class="modal fade" id="start-hardware-data-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.monitoring-page.popups.start-hardware-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.monitoring-page.popups.start-hardware-message") %></p>
        <form class="form-signin" action="/monitor/start/hardware_data" method="post">
          <div class="form-group">
            <label for='monitor_end_point'><%= I18n.translate("admin.monitoring-page.popups.hardware-label1") %>:</label>
            <input type="text" id='monitor_end_point' name="end_point" class="form-control" value="localhost" autofocus required></br>
            <input type="checkbox" id='monitor_temperature' name="temp" checked="checked">
            <label for='monitor_temperature'><%= I18n.translate("admin.monitoring-page.popups.hardware-label2") %>: </label></br>
            <input type="checkbox" id='monitor_users' name="users" checked="checked">
            <label for='monitor_users'><%= I18n.translate("admin.monitoring-page.popups.hardware-label3") %>: </label></br>
            <input type="checkbox" id='monitor_cpu' name="cpu" checked="checked">
            <label for='monitor_cpu'><%= I18n.translate("admin.monitoring-page.popups.hardware-label4") %>:</label></br>
            <input type="checkbox" id='monitor_ram' name="ram" checked="checked">
            <label for='monitor_ram'><%= I18n.translate("admin.monitoring-page.popups.hardware-label5") %></label></br>
            <input type="checkbox" id='monitor_storage' name="storage" checked="checked">
            <label for='monitor_storage'><%= I18n.translate("admin.monitoring-page.popups.hardware-label6") %></label></br>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.start") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- start application monitoring data modal-->
<div class="modal fade" id="start-application-data-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.monitoring-page.popups.start-application-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.monitoring-page.popups.start-application-message") %></p>
        <form class="form-signin" action="/monitor/start/application_data" method="post">
          <div class="form-group">
            <label for='monitor_end_point'><%= I18n.translate("admin.monitoring-page.popups.application-label1") %>:</label>
            <input type="text" id='monitor_end_point' name="end_point" class="form-control" value="localhost" autofocus required></br>
            <input type="checkbox" id='monitor_etherpad' name="etherpad" checked="checked">
            <label for='monitor_etherpad'><%= I18n.translate("admin.monitoring-page.popups.application-label1") %>:</label></br>
            <input type="checkbox" id='monitor_guestbook' name="guestbook" checked="checked">
            <label for='monitor_guestbook'><%= I18n.translate("admin.monitoring-page.popups.application-label1") %>:</label></br>
            <input type="checkbox" id='monitor_framadate' name="framadate" checked="checked">
            <label for='monitor_framadate'><%= I18n.translate("admin.monitoring-page.popups.application-label1") %>:</label></br>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.start") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Show hardware monitoring information modal-->
<div class="modal fade" id="hw-monitoring-info-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.monitoring-page.popups.show-hardware-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.monitoring-page.popups.show-hardware-message") %>: </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.hardware-label1") %>  : <%= hardware_monitoring_status['temperature'] %>
        </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.hardware-label2") %>   : <%= hardware_monitoring_status['users'] %>
        </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.hardware-label3") %>     : <%= hardware_monitoring_status['cpu'] %>
        </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.hardware-label4") %>     : <%= hardware_monitoring_status['ram'] %>
        </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.hardware-label5") %> : <%= hardware_monitoring_status['storage'] %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Show application monitoring information modal-->
<div class="modal fade" id="app-monitoring-info-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.monitoring-page.popups.show-application-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.monitoring-page.popups.show-application-message") %>: </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.application-label1") %> : <%= application_monitoring_status['guestbook'] %>
        </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.application-label2") %>   : <%= application_monitoring_status['etherpad'] %>
        </p>
        <p>
          <%= I18n.translate("admin.monitoring-page.popups.application-label3") %>  : <%= application_monitoring_status['framadate'] %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- flush hardware monitoring data modal-->
<div class="modal fade" id="flush-hardware-data-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.monitoring-page.popups.delete-hardware-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.monitoring-page.popups.delete-hardware-message") %>: <b><%= hardware_nof_entries["statistics"].to_i + hardware_nof_entries["users"].to_i %></b></p>
        <form class="form-signin" action="/monitor/flush/hardware_data" method="post">
          <div class="form-group">
            <button class="btn btn-lg btn-danger btn-block" type="submit"><%= I18n.translate("general.buttons.remove") %></button>
          </div>
        </form>
        <small>*<%= I18n.translate("admin.monitoring-page.popups.delete-hardware-hint") %> </small>
      </div>
    </div>
  </div>
</div>

<!-- flush application monitoring data modal-->
<div class="modal fade" id="flush-application-data-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("admin.monitoring-page.popups.delete-application-header") %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.translate("admin.monitoring-page.popups.delete-application-message") %>: <b><%= application_nof_entries["guestbook"].to_i + application_nof_entries["etherpad"].to_i + application_nof_entries["framadate"].to_i %> (<%= "Guestbook: #{application_nof_entries["guestbook"]}, Etherpad: #{application_nof_entries["etherpad"]}, Framadate: #{application_nof_entries["framadate"]}" %>)</b></p>
        <form class="form-signin" action="/monitor/flush/application_data" method="post">
          <div class="form-group">
            <input type="checkbox" id='flush_guestbook' name="guestbook" checked="checked">
            <label for='flush_guestbook'><%= I18n.translate("admin.monitoring-page.popups.application-label1") %>:</label></br>
            <input type="checkbox" id='flush_etherpad' name="etherpad" checked="checked">
            <label for='flush_etherpad'><%= I18n.translate("admin.monitoring-page.popups.application-label2") %>:</label></br>
            <input type="checkbox" id='flush_framadate' name="framadate" checked="checked">
            <label for='flush_framadate'><%= I18n.translate("admin.monitoring-page.popups.application-label3") %>:</label></br>
            <button class="btn btn-lg btn-danger btn-block" type="submit"><%= I18n.translate("general.buttons.remove") %></button>
          </div>
        </form>
        <small>*<%= I18n.translate("admin.monitoring-page.popups.delete-application-hint") %>. </small>
      </div>
    </div>
  </div>
</div>
