<div class="row">
  <div class="hidden-xs voffset6" ></div>
  <div class="col-md-12 col-lg-12 panel">
    <br>
    <div class="panel-heading" id="syllabus">
      <h1 class="text-center text-primary hidden-xs" style="font-size:400%"><span class="glyphicon glyphicon-book"></span> <%= I18n.translate("admin.documentation-page.header") %></h1>
      <h1 class="text-center text-primary visible-xs"><span class="glyphicon glyphicon-book"></span> <%= I18n.translate("admin.documentation-page.header") %></h1>
      <br><br>
      <div class="tabbable" >
        <ul class="nav nav-tabs" id="myTabs">
          <li class="active"><a href="#p1" data-toggle="tab"><strong><%= I18n.translate("admin.documentation-page.initial-configuration-tab.header") %></strong></a></li>
          <li><a href="#p2" data-toggle="tab"><strong>Etherpad</strong></a></li>
          <li><a href="#p3" data-toggle="tab"><strong>Nextcloud</strong></a></li>
          <li><a href="#p4" data-toggle="tab"><strong>Guestbook</strong></a></li>
          <li><a href="#p5" data-toggle="tab"><strong>WordPress</strong></a></li>
          <li><a href="#p6" data-toggle="tab"><strong>FramaDate</strong></a></li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <div class="tab-content">
      <div class="tab-pane fade in active " id="p1">
          <h3 class="text-center" id="pg1"> <%= I18n.translate("admin.documentation-page.initial-configuration-tab.header") %></h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4><%= I18n.translate("admin.documentation-page.initial-configuration-tab.subheader1") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph1") %>
            </p>
            <h4><%= I18n.translate("admin.documentation-page.initial-configuration-tab.subheader2") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph2") %>:
              <pre><code>
                $ssh pi@local.mazizone.eu
                password: mazizone
              </code></pre>
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph3") %>
              <pre><code>
                $ passwd
              </code></pre>
              <%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph4") %>
            </p>

            <h4><%= I18n.translate("admin.documentation-page.initial-configuration-tab.subheader3") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph5") %>:
              <pre><code>
                $sudo raspi-config
              </code></pre>
              <%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph6") %>:
              <ul>
                <li><%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph7") %></li>
                <li><%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph8") %>:
                  <ul>
                    <li><%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph9") %></li>
                    <li><%= I18n.translate("admin.documentation-page.initial-configuration-tab.paragraph10") %></li>
                  </ul>
                </li>
              </ul>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>

        <div class="tab-pane fade in" id="p2">
          <h3 class="text-center" id="pg1"> Etherpad</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4><%= I18n.translate("admin.documentation-page.etherpad-tab.subheader1") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.etherpad-tab.paragraph1") %>
            </p>
            <h4><%= I18n.translate("admin.documentation-page.etherpad-tab.subheader2") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.etherpad-tab.paragraph2") %> <b><a target="_blank" href="http://local.mazizone.eu:9001/admin" class="app-link" >local.mazizone.eu:9001/admin</a></b></br>
              <b>User Name :</b> admin</br>
              <b>Password :</b> mazizone
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.etherpad-tab.paragraph3") %>
              <pre><code>
              "users": {
                "admin": {
                  "password": "mazizone",
                  "is_admin": true
                },
              }
              </code></pre>
            </p>
            <img src="images/etherpad_doc.png" class="img-responsive center-block" alt="Image for Etherpad Admin Panel">

            <h4><%= I18n.translate("admin.documentation-page.etherpad-tab.subheader3") %>:</h4>
            <p>
              <%= I18n.translate("admin.documentation-page.etherpad-tab.paragraph4") %>
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.etherpad-tab.paragraph5") %> <a href='http://portal.mazizone.eu/p/unmonastery-index' target='_blank'>http://portal.mazizone.eu/p/unmonastery-index</a>
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.etherpad-tab.paragraph6") %>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>

        <div class="tab-pane fade" id="p3">
          <h3 class="text-center" id="pg1"> Nextcloud</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4><%= I18n.translate("admin.documentation-page.nextcloud-tab.subheader1") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph1") %>
            </p>
            <h4><%= I18n.translate("admin.documentation-page.nextcloud-tab.subheader2") %></h4>
            <p>
             <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph2") %> <b><a target="_blank" href="http://local.mazizone.eu/nextcloud" class="app-link" >local.mazizone.eu/nextcloud</a></b></br>
              <b>User Name :</b> admin</br>
              <b>Password :</b> mazizone
            </p>
            <img src="images/nextcloud_doc.png" class="img-responsive center-block" alt="Image for Nextcloud Admin Panel" style='padding-bottom: 10px'>
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph3") %>:</br>
                1. <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph4") %>
            </p>
            <img src="images/nextcloud_doc2.png" class="img-responsive center-block" alt="Image for Nextcloud Admin Panel 2">
            <p>
              2. <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph5") %>

              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph6") %>:
              <ul>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph7") %></li>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph8") %></li>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph9") %></li>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph10") %></li>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph11") %></li>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph12") %></li>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph13") %></li>
               <li> <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph14") %></li>
              </ul>
            </p>
            </br>
            <h4><%= I18n.translate("admin.documentation-page.nextcloud-tab.subheader3") %>:</h4>
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph15") %>
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph16") %>
            </p>
            <img src="images/nextcloud-doc3.png" class="img-responsive center-block" alt="Image for Nextcloud Admin Panel 3">
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph17") %> <a target="_blank" href="https://github.com/mazi-project/guides/wiki/Administrator-panel">Administrator panel</a>
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph18") %>
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph19") %>: <b>/var/www/html/nextcloud/data/$user$/files/</b>.<%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph20") %>: <b>/var/www/html/nextcloud/data/mazi/files/audio/</b>
            </p>
            <p>
              <%= I18n.translate("admin.documentation-page.nextcloud-tab.paragraph21") %>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>
        <div class="tab-pane fade" id="p4">
          <h3 class="text-center" id="pg1"> Guestbook</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4><%= I18n.translate("admin.documentation-page.guestbook-tab.subheader1") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph1") %>
            </p>

            <h4><%= I18n.translate("admin.documentation-page.guestbook-tab.subheader2") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph2") %> <a target="_blank" href="http://portal.mazizone.eu/admin_guestbook" class="app-link" >portal.mazizone.eu/admin_guestbook</a>.
            </p>

            <h4><%= I18n.translate("admin.documentation-page.guestbook-tab.subheader3") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph3") %>: <b>/var/www/html/mazi-board/src/node/config.js</b>, <%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph4") %>
            </p>
            <pre><code>
              /* AUTH DATA */
              authName: 'admin',
              authPassword: 'password',
            </code></pre>

            <h4><%= I18n.translate("admin.documentation-page.guestbook-tab.subheader4") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph5") %>
            </p>
            <p><b><%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph6") %>:</b> <a href="http://portal.mazizone.eu:8081/#projection" target='_blank'>http://portal.mazizone.eu:8081/#projection</a> *</p>
            <p><b><%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph7") %>:</b> <a href="http://portal.mazizone.eu:8081/#tablet" target='_blank'>http://portal.mazizone.eu:8081/#tablet</a> *</p>
            <p>* <%= I18n.translate("admin.documentation-page.guestbook-tab.paragraph8") %></p>
          </div>
          <div class="voffset9"></div>
        </div>

        <div class="tab-pane fade" id="p5">
          <h3 class="text-center" id="pg1"> WordPress</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4><%= I18n.translate("admin.documentation-page.wordpress-tab.subheader1") %></h4>
            <p>
              <%= I18n.translate("admin.documentation-page.wordpress-tab.paragraph1") %>
            </p>
            <h4><%= I18n.translate("admin.documentation-page.wordpress-tab.subheader2") %></h4>
            <img src="images/wordpress_doc.png" class="img-responsive center-block" alt="Image for WordPress Admin Panel" style='padding-bottom: 10px'>
            <p>
              <%= I18n.translate("admin.documentation-page.wordpress-tab.paragraph2") %>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>

        <div class="tab-pane fade" id="p6">
          <h3 class="text-center" id="pg1"> FramaDate</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4><%= I18n.translate("admin.documentation-page.framadate-tab.subheader1") %></h4>
            <img src="images/framadate_doc.png" class="img-responsive center-block" alt="Image for WordPress Admin Panel" style='padding-bottom: 10px'>
            <p>
              <%= I18n.translate("admin.documentation-page.framadate-tab.paragraph1") %> </br>
              <%= I18n.translate("admin.documentation-page.framadate-tab.paragraph2") %> :
              <ul>
                <li><%= I18n.translate("admin.documentation-page.framadate-tab.paragraph1") %></li>
                <li><%= I18n.translate("admin.documentation-page.framadate-tab.paragraph2") %></li>
                <li><%= I18n.translate("admin.documentation-page.framadate-tab.paragraph3") %></li>
                <li><%= I18n.translate("admin.documentation-page.framadate-tab.paragraph4") %></li>
              </ul>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>
      </div>
    </div>
  </div>
</div>
