
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Mazizone <small>Configurations</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Visual Configurations</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item toggle" data-toggle="detail-1">
        <div class="row" id="dropdown-detail-1">
          <div class="col-xs-10">
              <p><b>Portal title:</b> <%= portal_configuration[:title] %></i></a></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right"></i>
          </div>
        </div>
        <div id="detail-1">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>This value configures both the title on the top left corner and the html head title.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item toggle" data-toggle="detail-2">
        <div class="row" id="dropdown-detail-2">
          <div class="col-xs-10">
              <p><b>Application title:</b> <%= portal_configuration[:applications_title] %></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right"></i>
          </div>
        </div>
        <div id="detail-2">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>This value configures the body title for the applications page.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item toggle" data-toggle="detail-3">
        <div class="row" id="dropdown-detail-3">
          <div class="col-xs-10">
              <p><b>Application Subtitle:</b> <%= portal_configuration[:applications_subtitle] %></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right"></i>
          </div>
        </div>
        <div id="detail-3">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>This value configures the body subtitle for the applications page.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item toggle" data-toggle="detail-4">
        <div class="row" id="dropdown-detail-4">
          <div class="col-xs-10">
              <p><b>Application Welcome Message:</b> <%= portal_configuration[:applications_welcome_text] %></p>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right"></i>
          </div>
        </div>
        <div id="detail-4">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>This value configures the body welcome message for the applications page.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
     <!--  <li class="list-group-item toggle" data-toggle="detail-5">
        <div class="row" id="dropdown-detail-5">
          <div class="col-xs-10">
            <div class="row">
              <span class="col-lg-2">
                <span class='color-picker-label'>Side panel main color:</span> 
                <input value="222" type="text" class="pick-a-color form-control" id="side-color">
              </span>
              <span class="col-lg-2">
                <span class='color-picker-label'>Side panel active color:</span> 
                <input value="551033" type="text" class="pick-a-color form-control" id="side-color-active">
              </span>
              <span class="col-lg-2">
                <span class='color-picker-label'>Top panel main color:</span> 
                <input value="222" type="text" class="pick-a-color form-control" id="top-color">
              </span>
              <span class="col-lg-2">
                <span class='color-picker-label'>Top panel active color:</span> 
                <input value="551033" type="text" class="pick-a-color form-control" id="top-color-active">
              </span>
            </div>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-info-circle fa-2x pull-right"></i>
          </div>
        </div>
        <div id="detail-5">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>The values above configure various colors of the portal.</p>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      <li class="list-group-item">
        <div class="row" id="dropdown-detail-6">
          <div class="col-xs-10">
            <div class="row">
              <span class="col-lg-1">
              <b>Colors: </b>
              </span>
              <span class="col-lg-6">
                <button class="jscolor {valueElement:'chosen-value', onFineChange:'setSidePanelColor(this)', value:'<%= portal_configuration[:side_panel_color] %>'}">
                  Side panel main color
                </button>
                <button class="jscolor {valueElement:'chosen-value', onFineChange:'setSidePanelActiveColor(this)', value:'<%= portal_configuration[:side_panel_active_color] %>'}">
                  Side panel active color
                </button>
                <button class="jscolor {valueElement:'chosen-value', onFineChange:'setTopPanelColor(this)', value:'<%= portal_configuration[:top_panel_color] %>'}">
                  Top panel main color
                </button>
                <button class="jscolor {valueElement:'chosen-value', onFineChange:'setTopPanelActiveColor(this)', value:'<%= portal_configuration[:top_panel_active_color] %>'}">
                  Top panel active color
                </button>
              </span>
            </div>
          </div>
          <div class="col-xs-2 toggle" data-toggle="detail-6">
            <i class="fa fa-info-circle fa-2x pull-right"></i>
          </div>
        </div>
        <div id="detail-6">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-xs-12">
                <p>The values above configure various colors of the portal.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="row change-conf-div">
      <span>
        <a data-toggle="modal" data-target="#save-visual-configurations-modal" class="btn btn-primary conf-link save-conf pull-left"><i class="fa fa-save"></i> Save</a>
        <% unless config_files.nil? || config_files.empty? %>
        <a data-toggle="modal" data-target="#load-visual-configurations-modal" class="btn btn-primary conf-link load-conf pull-left"><i class="fa fa-upload"></i> Load</a>
        <% end %>
      </span>
      <span>
        <a data-toggle="modal" data-target="#reset-visual-configurations-modal"  class="btn btn-primary conf-link reset-conf pull-right"><i class="fa fa-refresh"></i> Reset</a>
        <a data-toggle="modal" data-target="#change-visual-configurations-modal" class="btn btn-primary conf-link change-conf pull-right"><i class="fa fa-arrow-circle-right"></i> Change</a>
      </span>
    </div>
  </div>
</div>

<script type="text/javascript">
  var sidePanelColor = null;
  var sidePanelActiveColor = null;
  var topPanelColor = null;
  var topPanelActiveColor = null;
  document.body.onmouseup = function() {
    var data = {};
    if(sidePanelColor != null){ 
      data.side_panel_color = sidePanelColor;
      sidePanelColor = null;
    }
    else if(sidePanelActiveColor != null){ 
      data.side_panel_active_color = sidePanelActiveColor;
      sidePanelActiveColor = null;
    }
    else if(topPanelColor != null){ 
      data.top_panel_color = topPanelColor;
      topPanelColor = null;
    }
    else if(topPanelActiveColor != null){ 
      data.top_panel_active_color = topPanelActiveColor;
      topPanelActiveColor = null;
    }
    else {
      return;
    }
    console.log(data);
    $.ajax({
      url: '/conf/',
      type: 'PUT',
      data: JSON.stringify(data),
      success: function(result) {
        console.log(result);
      }
    });
  }

  function setSidePanelColor(picker) {
    sidePanelColor = picker.toString();
  }

  function setSidePanelActiveColor(picker) {
    sidePanelActiveColor = picker.toString();
  }

  function setTopPanelColor(picker) {
    topPanelColor = picker.toString();
  }

  function setTopPanelActiveColor(picker) {
    topPanelActiveColor = picker.toString();
  }
</script>

<!-- change visual configurations modal-->
<div class="modal fade" id="change-visual-configurations-modal" role="dialog" enctype="multipart/form-data">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Visual Configurations</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post">
          <div class="form-group">
            <input type="text" name="title" class="form-control" value='<%= portal_configuration[:title] %>' autofocus="">
            <input type="text" name="applications_title" class="form-control" value='<%= portal_configuration[:applications_title] %>'>
            <input type="text" name="applications_subtitle" class="form-control" value='<%= portal_configuration[:applications_subtitle] %>'>
            <!-- <input type="file" name="applications_background_image" class="form-control file"> -->
            <textarea name="applications_welcome_text" class="form-control" rows="5" id="comment" maxlength="300"><%= portal_configuration[:applications_welcome_text] %></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change visual configurations modal-->
<div class="modal fade" id="reset-visual-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reset Visual Configurations</h4>
      </div>
      <div class="modal-body">
        <p>
          This action will reset all the visual configurations to default values.
        </p>
        <form class="form-signin" action="/conf" method="post">
          <div class="form-group">
            <input type="hidden" name="reset" class="form-control" value='true' autofocus="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- load visual configurations modal-->
<div class="modal fade" id="load-visual-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Load Visual Configurations</h4>
      </div>
      <div class="modal-body">
        <p>
          Load one of the following configuration files
        </p>
        <form class="form-signin" action="/conf" method="post">
          <div class="form-group">
            <input type="hidden" name="load" class="form-control" value='true' autofocus="">
            <select id="snapshot-select" name="filename" class="form-control">
            <% config_files.each do |conf_file| %>
              <%= "<option value='#{conf_file}'>#{conf_file.gsub('.yml', '')}</option>" %>
            <% end %>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Load</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- save visual configurations modal-->
<div class="modal fade" id="save-visual-configurations-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Save Visual Configurations</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/conf" method="post">
          <div class="form-group">
            <input type="hidden" name="save"   class="form-control" value='true'>
            <input type="text" name="filename" class="form-control" id="filename" aria-describedby="filenameHelp" placeholder="Theme Name" autofocus="" required>
            <small id="filenameHelp" class="form-text text-muted">Please enter the name of the new Theme.</small>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>