<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small><%= I18n.translate("admin.dashboard-page.subheader") %></small>
    </h1>
  </div>
</div>

<div class="row">
  <% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
  <% end %>

  <div class="col-md-4 col-lg-6">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= I18n.translate("general.messages.welcome") %></h3>
        </div>
        <div class="panel-body">
          <p><%= I18n.translate("admin.dashboard-page.welcome.message-1", panel: "<strong>#{I18n.translate("admin.general.admin-panel")}</strong>") %></p>
          <p>
            <%= I18n.translate("admin.dashboard-page.welcome.message-2") %>
            <ul>
              <li> <%= I18n.translate("admin.dashboard-page.welcome.message-list-1") %></li>
              <li> <%= I18n.translate("admin.dashboard-page.welcome.message-list-2") %></li>
              <li> <%= I18n.translate("admin.dashboard-page.welcome.message-list-3") %></li>
              <li> <%= I18n.translate("admin.dashboard-page.welcome.message-list-4") %></li>
              <li> <%= I18n.translate("admin.dashboard-page.welcome.message-list-5") %></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"><%= I18n.translate("admin.dashboard-page.hardware-info.header") %></div>
        </div>
        <div class="list-group">
          <% unless temp.nil? %>
          <a class="list-group-item">
            <i class="fa fa-thermometer"></i> <%= I18n.translate("admin.dashboard-page.hardware-info.system-temperature") %> <span class="label <%= temp.gsub("'C", '').to_f > 75 ? "label-danger" : "label-success" %> pull-right"> <%= temp %></span>
          </a>
          <% end %>
          <% unless cpu.nil? %>
          <a class="list-group-item">
            <i class="fa fa-microchip"></i> <%= I18n.translate("admin.dashboard-page.hardware-info.cpu-load") %> <span class="label <%= cpu.gsub("%", '').to_f > 80 ? "label-danger" : "label-success" %> pull-right"> <%= cpu %></span>
          </a>
          <% end %>
          <% unless ram.nil? %>
          <a class="list-group-item">
            <i class="fa fa-server"></i> <%= I18n.translate("admin.dashboard-page.hardware-info.ram-load") %> <span class="label <%= ram.gsub("%", '').to_f > 80 ? "label-danger" : "label-success" %> pull-right"> <%= ram %></span>
          </a>
          <% end %>
          <% unless storage.nil? %>
          <a class="list-group-item">
            <i class="fa fa-hdd"></i> <%= I18n.translate("admin.dashboard-page.hardware-info.storage-load") %>
            <span class="label <%= storage.split('(').last.split(')').first.gsub("%", '').to_f > 75 ? "label-danger" : "label-success" %> pull-right"> <%= storage %></span>
          </a>
          <% end %>
          <% if expanded == 'No' %>
          <a class="list-group-item">
            <i class="fa fa-hdd"></i>
            <button class="btn btn-info btn-xs pull-right expand-storage" data-toggle="modal" data-target="#expand-storage-modal"><%= I18n.translate("general.buttons.expand-storage") %></button>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-8 col-lg-6'>
    <div class="row">
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.dashboard-page.networking.header") %>
              <a href="admin_network" class='pull-right'><i class="fa fa-fw fa-cog"></i></a>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row col-with-divider">
              <div class="col-xs-6 text-center panel-min-height">
                <h2><%= users[:online] %></h2>
                <small><%= I18n.translate("admin.dashboard-page.networking.users-online") %></small>
              </div>
              <div class="col-xs-6 text-center">
                <h2><%= net_info[:ssid] %></h2>
                <small><%= I18n.translate("admin.dashboard-page.networking.wifi-info") %> </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.dashboard-page.applications.header") %>
              <a href="admin_application" class='pull-right'><i class="fa fa-fw fa-cog"></i></a>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 text-left panel-min-height">
                <h2 class="no-margins"><%= applications.length %></h2>
                <small><%= I18n.translate("admin.dashboard-page.applications.applications-installed") %></small>
              </div>
              <div class="pull-right"><i class="fa fa-fw fa-5x fa-laptop"></i></div>
            </div>
          </div>
        </div>
      </div>

      <% clicks = 0 %>
      <% application_instances.each {|app| clicks += app.click_counter} %>
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.dashboard-page.traffic.header") %>
              <div class="dropdown pull-right">
                <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  <i class="fa fa-wrench"></i>
                </div>
                <ul class="dropdown-menu dropdown-user dropdown-menu-right">
                  <li><a class="reset-app-clicks"><i class="fa fa-refresh"></i> <%= I18n.translate("admin.dashboard-page.traffic.reset-application-clicks") %></a></li>
                  <li><a class="reset-visits"><i class="fa fa-refresh"></i> <%= I18n.translate("admin.dashboard-page.traffic.reset-visits") %></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row col-with-divider">
              <div class="col-xs-6 text-center panel-min-height">
                <h2 class="no-margins"><%= sessions.length %></h2>
                <small><%= I18n.translate("admin.dashboard-page.traffic.portal-visits") %></small>
              </div>
              <div class="col-xs-6 text-center">
                <h2 class="no-margins"><%= clicks %></h2>
                <small><%= I18n.translate("admin.dashboard-page.traffic.application-visits") %></small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.dashboard-page.notifications.header") %>
              <a href="admin_notification" class='pull-right'><i class="fa fa-fw fa-cog"></i></a>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 text-left panel-min-height">
                <h2 class="no-margins"><%= notifications.length %></h2>
                <small><%= I18n.translate("admin.dashboard-page.notifications.notifications") %></small>
              </div>
              <div class="pull-right"><i class="fa fa-fw fa-5x fa-bell"></i></div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.dashboard-page.time-date.header") %>
              <a href="admin_set_date" class='pull-right'><i class="fa fa-fw fa-cog"></i></a>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 text-left panel-min-height">
                <h4 class="no-margins"><%= rasp_date %></h4>
                <h4 class="no-margins"><%= rasp_time %></h4>
                <small><%= I18n.translate("admin.dashboard-page.time-date.current") %></small>
              </div>
              <div class="pull-right"><i class="fa fa-fw fa-5x fa-clock"></i></div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title"><%= I18n.translate("admin.dashboard-page.version.header") %> </a>
            </div>
          </div>
          <!-- panel body -->
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 text-left panel-min-height">
                <h3 class="no-margins"><%= I18n.translate("general.messages.version") %> <%= version %></h2>
                <small><%= version_difference.to_i > 0 ? "#{I18n.translate("admin.dashboard-page.version.version-message-1")} `#{version_difference} #{I18n.translate("admin.dashboard-page.version.version-message-2")}" : "#{I18n.translate("admin.dashboard-page.version.up-to-date")}"%></small>
              </div>
              <div class="pull-right"><i class="fa fa-fw fa-5x fa-tag"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- expand storage modal-->
<div class="modal fade" id="expand-storage-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("general.buttons.expand-storage") %></h4>
      </div>
      <div class="modal-body">
        <p> <%= I18n.translate("admin.dashboard-page.popups.expand-storage-message") %></p>
        <form class="form-signin" action="/expand/storage" method="post">
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.translate("general.buttons.expand") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
