<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mazi Portal">
  <meta name="author" content="nitlab">

  <title>MAZI Zone Administration Panel</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/jquery-ui.min.css" rel="stylesheet">
  <link href="css/admin_main.css" rel="stylesheet">
  <link href="css/plugins/morris.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
  <link href="css/jquery.tagit.css" rel="stylesheet" type="text/css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/jquery.datetimepicker.css">
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/admin_main.js"></script>
  <% js.each do |j| %>
    <script src="<%= j %>"></script>
  <% end %>
</head>

<body>

  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="admin">MAZI Zone Administration Panel</a>
      </div>
      <ul class="nav navbar-right top-nav">
        <li>
          <a class="navbar-brand pull-right" target="_blank" href="index" style="font-size: 14px;">Portal</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin_set_date"><i class="fa fa-fw fa-clock-o"></i> Set Date</a>
            </li>
            <% if local_data[:authorized] %>
            <li>
              <a href="/admin_change_username"><i class="fa fa-fw fa-exchange"></i> Username</a>
            </li>
            <li>
              <a href="/admin_change_password"><i class="fa fa-fw fa-exchange"></i> Password</a>
            </li>
            <li>
              <a href="/admin_change_mysql_password"><i class="fa fa-fw fa-exchange"></i> MySQL Password</a>
            </li>
            <li class="check-updates-menu">
              <a href="#" data-toggle="modal" data-target="#update-version-modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-fw fa-history"></i> Check for updates</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" data-toggle="modal" data-target="#reboot-modal"><i class="fa fa-fw fa-refresh"></i> Reboot</a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#shutdown-modal"><i class="fa fa-fw fa-power-off"></i> Shutdown</a>
            </li>
            <li>
              <a href="/admin_logout"><i class="fa fa-fw fa-sign-out admin-logout-button"></i> Log Out</a>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li <%= 'class="active"' if main_body == :admin_dashboard %> >
            <a href="admin_dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_application %>>
            <a href="admin_application"><i class="fa fa-fw fa-laptop"></i> Applications</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_network %>>
            <a href="admin_network"><i class="fa fa-fw fa-wifi"></i> Networking</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_configuration %>>
            <a href="admin_configuration"><i class="fa fa-fw fa-cog"></i> Appearance</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_devices %>>
            <a href="admin_devices"><i class="fa fa-fw fa-building-o"></i> Devices</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_monitor %>>
            <a href="admin_monitor"><i class="fa fa-fw fa-building-o"></i> Monitoring</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_notification %>>
            <a href="admin_notification"><i class="fa fa-fw fa-bell-o"></i> Notifications</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_snapshot %>>
            <a href="admin_snapshot"><i class="fa fa-fw fa-photo"></i> Export/Import</a>
          </li>
          <li <%= 'class="active"' if main_body == :admin_documentation %>>
            <a href="admin_documentation"><i class="fa fa-fw fa-book"></i> Documentation</a>
          </li>
        </ul>
      </div>
      <div class="version-footer">
        <p>v<%= version %></p>
      </div>
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">

        <% local_data[:error_msg] = error_msg %>
        <%= erb main_body, locals: local_data %>

      </div>
    </div>
  </div>

  <!-- update version modal-->
  <div class="modal fade" id="update-version-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Check for updates</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-m-12 checking4updates">
                <p class="alert alert-success"><i class="fa fa-spin fa-circle-o-notch"></i> Checking for updates. Please wait...</p>
              </div>
              <div class="col-m-12 staged-error" hidden>
                <p class="alert alert-danger"> Your local repository has been edited. This causes the update function to malfunction. Please revert those changes in the local repository, by using 'git checkout -- &ltfile&gt' for the edited files.</p>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
              <div class="col-m-12 no-internet-error" hidden>
                <p class="alert alert-danger"> There is no active connection to the internet. Please connect this MAZI Zone to the internet and try again.</p>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
              <div class="col-m-12 demo-mode-error" hidden>
                <p class="alert alert-danger"> This portal runs on Demo mode! This action would have started an update proccess.</p>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
              <div class="col-m-12 up2date" hidden>
                <p class="alert alert-success">The portal is up-to-date, there is no need for an update.</p>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
              <div class="col-m-12 update-ready" hidden>
                <p class='update-ready'></p>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary update-btn pull-right">Update</button>
              </div>
              <div class="col-m-12 updating" hidden>
                <p class="alert alert-success"><i class="fa fa-spin fa-circle-o-notch"></i> The system is updating. Please wait...</p>
              </div>
              <div class="col-m-12 update-done" hidden>
                <p class="alert alert-success">Update proccess was complete. The Portal is going to restart for the update to take effect. Please refresh the page after a couple of minutes.</p>
                <p class="alert alert-success">Hint: if you experience a faulty behavior reboot your device.</p>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- shutdown modal-->
  <div class="modal fade" id="shutdown-modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shutdown?</h4>
        </div>
        <form class="form-signin" action="/action/shutdown" method="post">
          <div class="modal-body">
            <div class="form-group">
              <p>MAZI Zone will now Shutdown, this will cause this site to be unreachable and you will need to manually reboot this MAZI Zone. Procced?</p>
              <input type="hidden" name="shutdown" value='true'>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary pull-right" type="submit">Shutdown</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- reboot modal-->
  <div class="modal fade" id="reboot-modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reboot?</h4>
        </div>
        <form class="form-signin" action="/action/reboot" method="post">
          <div class="form-group">
            <div class="modal-body">
              <p>MAZI Zone will now Reboot, this will cause this site to be unreachable for a few minutes, please wait and refresh this page after a few minutres. Procced?</p>
              <input type="hidden" name="reboot" value='true'>
            </div>
            <div class='modal-footer'>
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary pull-right" type="submit">Reboot</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
