<script type="text/javascript">
  <% applications.each do |app| %>
  var <%= "#{app.name.gsub('-', '_').downcase}_name = '#{app.name}'" %>;
  var <%= "#{app.name.gsub('-', '_').downcase}_url  = '#{app.url}'" %>;
  <% end %>
</script>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      MAZI Zone <small><%= I18n.translate("admin.applications-page.subheader") %></small>
    </h1>
  </div>
</div>
<% enable_application_editing = false %>
<% unless error_msg.nil? %>
  <div class="alert alert-danger">
    <p><%= error_msg %></p>
  </div>
<% end %>

<div class="row">
  <h3><%= I18n.translate("admin.applications-page.instances-menu.header") %></h3>
  <table class="table">
    <thead>
      <tr>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.active-hint") %>"><%= I18n.translate("admin.applications-page.instances-menu.active-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.splash-page-hint") %>"><%= I18n.translate("admin.applications-page.instances-menu.splash-page-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.name-hint") %>"><%= I18n.translate("admin.applications-page.instances-menu.name-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.url-hint") %>"><%= I18n.translate("admin.applications-page.instances-menu.url-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.active-hint") %>"><%= I18n.translate("admin.applications-page.instances-menu.description-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.parent-hint") %>"><%= I18n.translate("admin.applications-page.instances-menu.parent-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.clicks-hint") %>"><%= I18n.translate("admin.applications-page.instances-menu.click-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.instances-menu.actions-hint") %>" class='text-center' style='width: 130px'><%= I18n.translate("admin.applications-page.instances-menu.actions-column") %></th>
      </tr>
    </thead>
    <tbody>
      <% application_instances.each do |app| %>
      <tr class="app_inst_tr" id="app_inst_tr_<%= app.id.to_s %>">
        <td scope="row">
          <label class="switch" title="<%= app.enabled ? I18n.translate("general.messages.enable") : I18n.translate("general.messages.disable") %> the application">
            <input type="checkbox" <%= app.enabled ? I18n.translate("general.messages.checked") : '' %>>
            <div class="slider round enabled-instance-switch" id='enabled-instance-switch_<%= app.id %>'></div>
          </label>
        </td>
        <td scope="row">
          <label class="switch" title="<%= app.splash_screen ? 'disable' : 'enable' %> the application">
            <input type="checkbox" <%= app.splash_screen ? I18n.translate("general.messages.checked") : '' %>>
            <div class="slider round splash-instance-switch" id='splash-instance-switch_<%= app.id %>'></div>
          </label>
        </td>
        <td><%= app.name %></td>
        <td><a href='<%= app.url %>' target="_blank"><%= app.url %></a></td>
        <td><%= app.description %></td>
        <td><%= app.application.name %></td>
        <td><%= app.click_counter %></td>
        <td>
          <div class="text-center">
            <div class="btn-group pull-center">
              <a class="btn btn-info edit_app" id='edit_app_<%= app.id %>' data-toggle="modal" data-target="#edit-application-instance-modal-<%= app.id %>" title="<%= I18n.translate("admin.applications-page.instances-menu.edit-instance-hint") %>">
                <i class="fa fa-pencil"></i>
              </a>
              <% if app.name == 'GuestBook' %>
              <a class="btn btn-success admin_app" id='edit_app_<%= app.id %>' title="<%= I18n.translate("admin.applications-page.instances-menu.guestbook-admin-hint") %>" href="/admin_guestbook">
                <i class="fa fa-asterisk"></i>
              </a>
              <% end %>
              <a class="btn btn-danger del_app_inst" id='del_app_inst_<%= app.id %>' title="<%= I18n.translate("admin.applications-page.instances-menu.delete-instance-hint") %>">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-success teal-text pull-right" data-toggle="modal" data-target="#new-application-instance-modal"  title="<%= I18n.translate("admin.applications-page.instances-menu.create-instance-hint") %>"><i class="fa fa-plus"></i></a></td>
      </tr>
    </tfoot>
</table>
</div>

<div class="row">
  <h3><%= I18n.translate("admin.applications-page.applications-menu.header") %></h3>
  <table class="table">
    <thead>
      <tr>
        <th title="<%= I18n.translate("admin.applications-page.applications-menu.status-hint") %>"><%= I18n.translate("admin.applications-page.applications-menu.status-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.applications-menu.name-hint") %>"><%= I18n.translate("admin.applications-page.applications-menu.name-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.applications-menu.url-hint") %>"><%= I18n.translate("admin.applications-page.applications-menu.url-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.applications-menu.description-hint") %>"><%= I18n.translate("admin.applications-page.applications-menu.description-column") %></th>
        <th title="<%= I18n.translate("admin.applications-page.applications-menu.actions-hint") %>" class='text-center'><%= I18n.translate("admin.applications-page.applications-menu.actions-column") %></th>
      </tr>
    </thead>
    <tbody>
      <% applications.each do |app| %>
        <% status = mode != 'demo' ? app.status : "ON" %>
        <% web_app = app.name == 'NextCloud' || app.name == 'FramaDate' || app.name == 'WordPress' ? true : false %>
      <tr class="app_tr" id="app_tr_<%= app.id.to_s %>">
        <td><%= status == 'ON' ? '<span class="label label-success">running</span>' : '<span class="label label-danger">stopped</span>' %></td>
        <td><%= app.name %></td>
        <td><a href='<%= app.url %>' target="_blank"><%= app.url %></a></td>
        <td><%= app.description %></td>
        <td>
          <div class="text-center">
            <div class="btn-group pull-center">
              <% if web_app %>
              <i class="fa fa-info-circle fa-2x pull-right web-app-info" title="Starting/Stopping this application will not affect the performance of your MAZI Zone." data-toggle="modal" data-target="#web-app-info-modal"></i>
              <% else %>
              <a class="btn btn-success start_app" id='start_app_<%= app.id %>' <%= 'disabled' if status == 'ON' || web_app %> title="<%= !web_app ? 'Start Application' : 'This is a web application, it always runs.' %>">
                <i class="fa fa-play"></i>
              </a>
              <a class="btn btn-warning stop_app" id='stop_app_<%= app.id %>' <%= 'disabled' if status == 'OFF' || web_app %> title="<%= !web_app ? 'Stop Application' : 'This is a web application, it always runs.' %>">
                <i class="fa fa-stop"></i>
              </a>
              <% end %>
              <% if enable_application_editing %>
              <a class="btn btn-info edit_app" id='edit_app_<%= app.id %>' data-toggle="modal" data-target="#edit-application-modal-<%= app.id %>" title="Edit Application">
                <i class="fa fa-pencil"></i>
              </a>
              <a class="btn btn-danger del_app" id='del_app_<%= app.id %>' title="Delete Application">
                <i class="fa fa-times"></i>
              </a>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        <% if enable_application_editing %>
        <a class="btn btn-success teal-text pull-right" data-toggle="modal" data-target="#new-application-modal"  title="Create New Application"><i class="fa fa-plus"></i></a>
        <% end %>
        </td>
      </tr>
    </tfoot>
</table>
</div>

<!-- create application modal-->
<div class="modal fade" id="new-application-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new Application</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/application" method="post">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="name" required autofocus>
            <input type="text" name="url" class="form-control" placeholder="URL" required>
            <textarea name="description" class="form-control" rows="5" id="comment" placeholder='Description (150 characters max)' maxlength="150"></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% applications.each do |app| %>
<!-- edit application modal-->
<div class="modal fade" id="edit-application-modal-<%= app.id %>" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Application</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/application/edit" method="post">
          <div class="form-group">
            <input type="hidden" name="id" value="<%= app.id %>">
            <input type="text" name="name" class="form-control" value="<%= app.name %>" required autofocus>
            <input type="text" name="url" class="form-control" value="<%= app.url %>" required>
            <textarea name="description" class="form-control" rows="5" id="comment" maxlength="150"><%= app.description %></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

<div id="delete-dialog-confirm" title="Empty the recycle bin?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This application will be permanently deleted from the database. Do you wish to proceed?</p>
</div>

<!-- create application instance modal-->
<div class="modal fade" id="new-application-instance-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new Application Instance</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/application" method="post">
          <div class="form-group">
            <input type="hidden" name="instance" value='true'>
            <select class="form-control" id="create_inst_app_name_sl" name='application'>
            <% first_app_url = nil %>
            <% applications.each do |app| %>
              <% next unless can_have_multiple_instances.include?(app.name) || app.application_instances.length < 1 %>
              <option value='<%= app.id%>'><%= app.name %></option>
              <% first_app_url = app.url if first_app_url.nil?%>
            <% end %>
            </select>
            <input type="text" name="name" class="form-control" placeholder="name" required autofocus>
            <input type="text" name="url" class="form-control" id="create_inst_app_url_in" placeholder="URL" value='<%= first_app_url %>' required>
            <textarea name="description" class="form-control" rows="5" id="comment" placeholder='Description (150 characters max)' maxlength="150"></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
          </div>
        </form>
        <small>Help: Some applications cannot have multiple instances for the moment, this is the reason some of them might be missing.</small>
      </div>
    </div>
  </div>
</div>

<% application_instances.each do |app| %>
<!-- edit application modal-->
<div class="modal fade" id="edit-application-instance-modal-<%= app.id %>" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Application Instance</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/application/edit" method="post">
          <div class="form-group">
            <input type="hidden" name="instance" value='true'>
            <input type="hidden" name="id" value="<%= app.id %>">
            <input type="text" name="name" class="form-control" value="<%= app.name %>" required autofocus>
            <input type="text" name="url" class="form-control" value="<%= app.url %>" required>
            <textarea name="description" class="form-control" rows="5" id="comment" maxlength="150"><%= app.description %></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

<div id="delete-instance-dialog-confirm" title="Delete Application Instance?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This application instance will be permanently deleted from the database. Do you wish to proceed?</p>
</div>

<!-- web app info modal-->
<div class="modal fade" id="web-app-info-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Web Application</h4>
      </div>
      <div class="modal-body">
        <p>This is a WEB application so Starting/Stopping this application will not affect the performance of your MAZI Zone.</p>
      </div>
      <div class='modal-footer'>
        <button class="btn btn-primary pull-right" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
