<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mazi Portal">
  <meta name="author" content="nitlab">

  <title><%= local_data[:config_data][:title] %></title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/jquery-ui.min.css" rel="stylesheet">
  <link href="css/index_main.css" rel="stylesheet" type="text/css">
  <link href="css/plugins/morris.css" rel="stylesheet" type="text/css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/index_main.js"></script>
  <script src="js/moment.js"></script>
  <% js.each do |j| %>
  <script src="<%= j %>"></script>
  <% end %>
  <style type="text/css">
    @media(min-width:768px) {
      .side-nav {
        background-color: #<%= local_data[:config_data][:side_panel_color]%>;
      }

      .side-nav li a:hover,
      .side-nav li a:focus {
        background-color: #000 !important;
      }
    }

    .side-nav{
      background-color: #<%= local_data[:config_data][:side_panel_color]%> !important;
    }

    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
      .navbar-inverse .navbar-nav > .active > a:focus {
      background-color: #<%= local_data[:config_data][:side_panel_active_color]%> !important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
      background-color: #<%= local_data[:config_data][:side_panel_active_color]%> !important;
    }

    .top-nav>li>a:hover,
    .top-nav>li>a:focus,
    .top-nav>.open>a,
    .top-nav>.open>a:hover,
    .top-nav>.open>a:focus {
      background-color: #<%= local_data[:config_data][:top_panel_active_color]%> !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background-color: #<%= local_data[:config_data][:top_panel_color]%> !important;
    }

    .bot-nav{
      background-color: #<%= local_data[:config_data][:top_panel_color]%> !important;
    }
  </style>
</head>

<body>
<%
  flag = false
  nof_notifications_enabled = 0
  local_data[:notifications].each do |notification|
    if notification.enabled
      flag = true
      nof_notifications_enabled += 1 unless local_data[:notifications_read].include?(notification.id)
    end
  end unless local_data[:notifications].nil? || local_data[:notifications].empty?
%>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index"><%= local_data[:config_data][:title] %></a>
      </div>
      <% if flag %>
      <ul class="nav navbar-right top-nav">
        <li>
          <a class="navbar-brand pull-right" target="_blank" href="/index_documentation" style="font-size: 14px;">Documentation</a>
        </li>
        <li>
          <a class="navbar-brand pull-right" target="_blank" href="http://mazizone.eu/toolkit" style="font-size: 14px;">MAZI Project</a>
        </li>
        <li>
          <div class="navbar-brand pull-right" id="time"></div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <%= "<span class='notif-span'>#{nof_notifications_enabled}</span>" if nof_notifications_enabled > 0 %> <b class="caret"></b></a>
          <ul class="dropdown-menu alert-dropdown">
            <% local_data[:notifications].each do |notification|%>
            <% next unless notification.enabled %>
            <li>
              <a href="#" class="show-notification-button" id="show-notification-button-<%= notification.id %>" data-toggle="modal" data-target="#show-notification-modal-<%= notification.id %>">
                <%= local_data[:notifications_read].include?(notification.id) ? '<span class="label label-default">Read</span>' : '<span class="label label-success">New</span>'%> <%= notification.title %> 
              </a>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <% end %>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li <%= 'class="active"' if main_body == :index_application %>>
            <a href="index"><i class="fa fa-fw fa-dashboard"></i> Applications</a>
          </li>
          <li <%= 'class="active"' if main_body == :index_statistics %>>
            <a href="index_statistics"><i class="fa fa-fw fa-area-chart"></i> Statistics</a>
          </li>
        </ul>
      </div>
      <!-- <div class="navbar navbar-fixed-bottom bot-nav">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
            <p>MAZI Project</p>
            <p><small>This software has been developed with funds from the European Union’s H2020 Programme under grant agreement no 687983.</small></p>
          </div>
        </div>
      </div> -->
      <!-- <div class="mazi-link-footer">
        <a href="http://mazizone.eu/toolkit" target="_blank">MAZI Project</a>
      </div> -->
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">

        <% local_data[:error_msg] = error_msg %>
        <%= erb main_body, locals: local_data %>

      </div>
    </div>


    <% local_data[:notifications].each do |notification|%>

    <div class="modal fade" id="show-notification-modal-<%= notification.id %>" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header notification-modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= notification.title %></h4>
          </div>
          <div class="modal-body">
            <p>
              <%= notification.body %>
            </p>
          </div>
          <div class="modal-footer notification-modal-footer">
            <button type="button" class="btn btn-default notification-close" data-dismiss="modal" id="notification-close-<%= notification.id %>">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<script type="text/javascript">
  var server_date = Date.parse('<%= Time.now %>');
  var mom = moment(server_date);
  function showDate(date, o){
    var newdate = moment(date).add(o, 'milliseconds');
    $("#time").text(newdate.format("D MMM YYYY HH:mm zz"));
    setTimeout(function () { showDate(newdate, 10000); }, 10000);
  }
  showDate(mom, 0);
</script>
</body>
</html>
