<div class="jumbotron">
  <h1><%= config_data[:applications_title]%> <small><%= I18n.translate("portal.monitoring-page.subheader") %></small></h1>
  <p><%= I18n.translate("portal.monitoring-page.header-message") %></p>
</div>

<div class="row">
  <div id="world-map-wrap">
    <div id="world-map"></div>
  </div>
</div>

<script type="text/javascript">
  var temperature_data = {};
  var humidity_data = {};
  var pressure_data = {};
  var etherpad_data = {};
  var guestbook_data = {};
  var framadate_data = {};
  <% points = [] %>
  <% device_ids = [] %>
  <% deployments.each do |dep_id, deployment| %>
    <% points << {id: deployment[:id], name: deployment[:deployment], latLng: deployment[:latLng]} %>
    <% deployment[:devices].each do |dev_id, device| %>
      <% device_ids << dev_id %>
      <% device[:sensors].each do |sens_id, sensor| %>
  temperature_data['<%=dev_id%>'] = {};
  humidity_data['<%=dev_id%>'] = {};
  temperature_data['<%=dev_id%>']['<%=sensor[:sensor_name]%>'] = <%= sensor[:data][:temperatures].to_json %>;
  humidity_data['<%=dev_id%>']['<%=sensor[:sensor_name]%>'] = <%= sensor[:data][:humidities].to_json %>;
        <% if sensor[:sensor_name] == 'sensehat' %>
  pressure_data['<%=dev_id%>'] = {};
  pressure_data['<%=dev_id%>']['<%=sensor[:sensor_name]%>'] = <%= sensor[:data][:pressures].to_json %>;
        <% end %>
      <% end %>

      <% device[:applications].each do |app_name, application| %>
        <% if app_name == 'etherpad' %>
    etherpad_data['<%=dev_id%>'] = {};
    etherpad_data['<%=dev_id%>']['pads'] = <%= application[:data][:pads].to_json %>;
    etherpad_data['<%=dev_id%>']['users'] = <%= application[:data][:users].to_json %>;
    etherpad_data['<%=dev_id%>']['datasize'] = <%= application[:data][:datasize].to_json %>;
        <% elsif app_name == 'guestbook' %>
    guestbook_data['<%=dev_id%>'] = {};
    guestbook_data['<%=dev_id%>']['submissions'] = <%= application[:data][:submissions].to_json %>;
    guestbook_data['<%=dev_id%>']['comments'] = <%= application[:data][:comments].to_json %>;
    guestbook_data['<%=dev_id%>']['images'] = <%= application[:data][:images].to_json %>;
    guestbook_data['<%=dev_id%>']['datasize'] = <%= application[:data][:datasize].to_json %>;
        <% elsif app_name == 'framadate' %>
    framadate_data['<%=dev_id%>'] = {};
    framadate_data['<%=dev_id%>']['polls'] = <%= application[:data][:polls].to_json %>;
    framadate_data['<%=dev_id%>']['votes'] = <%= application[:data][:votes].to_json %>;
    framadate_data['<%=dev_id%>']['comments'] = <%= application[:data][:comments].to_json %>;
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  var points = <%= points.to_json %>;
  var device_ids = <%= device_ids.to_json %>;
</script>

<% deployments.each do |dep_id, deployment| %>
<div class="modal fade" id="deployment-modal-for-<%= dep_id %>" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("portal.monitoring-page.popups.deployment")%> <%= deployment[:deployment] %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th><%= I18n.translate("portal.monitoring-page.popups.devices") %></th>
                  <th class='text-center' style='width: 40px'><%= I18n.translate("admin.monitoring-page.statistics-panel.statistics-table.action") %></th>
                </tr>
              </thead>
              <tbody>
                <% deployment[:devices].each do |dev_id, device| %>
                <tr>
                  <td><%= device[:title] %></td>
                  <td><a class="btn btn-info" id='open-device-<%= dev_id%>-btn'><%= I18n.translate("general.buttons.show") %></a></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <% deployment[:devices].each do |dev_id, device| %>
<div class="modal fade" id="show-device-<%= dev_id %>-modal" role="dialog">
  <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("portal.monitoring-page.popups.device")%> <%= device[:title] %></h4>
      </div>
      <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.deployment")%>:</b> <%= deployment[:deployment]%></p>
            </div>
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.administrator")%>:</b> <%= device[:administrator]%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.description")%>:</b> <%= device[:description]%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.latitude")%>:</b> <%= device[:latLng].first %></p>
            </div>
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.longitude")%>:</b> <%= device[:latLng].last %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.system_info")%>:</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_temp")%>:</b> <%= device[:system][:cpu_temp] %> °C</p>
            </div>
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_load")%>:</b> <%= device[:system][:cpu_usage] %>%</p>
            </div>
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.ram_load")%>:</b> <%= device[:system][:ram_usage] %>%</p>
            </div>
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.storage_use")%>:</b> <%= device[:system][:storage] %>%</p>
            </div>
          </div>
        <% device[:sensors].each do |sensor_id, sensor|%>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-thermometer"></i> <%= I18n.translate("portal.sensors-page.temperature-for", sensor:  sensor[:sensor_name]) %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-temp-<%= dev_id %>-<%= sensor[:sensor_name] %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-blue">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-line-chart"></i> <%= I18n.translate("portal.sensors-page.humidity-for", sensor:  sensor[:sensor_name]) %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-hum-<%= dev_id %>-<%= sensor[:sensor_name] %>"></div>
                </div>
              </div>
            </div>
          </div>
          <% if sensor[:sensor_name] == 'sensehat' %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bullseye"></i> <%= I18n.translate("portal.sensors-page.pressure-for", sensor:  sensor[:sensor_name]) %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-press-<%= dev_id %>-<%= sensor[:sensor_name] %>"></div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        <% device[:applications].each do |app_name, application|%>
          <% if app_name == 'etherpad' %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-pads") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-etherpad-pads-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-blue">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-users") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-etherpad-users-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-datasize") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-etherpad-datasize-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <% elsif app_name == 'guestbook' %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-submissions") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-guestbook-submissions-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-blue">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-comments") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-guestbook-comments-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-images") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-guestbook-images-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-red">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-datasize") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-guestbook-datasize-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <% elsif app_name == 'framadate' %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-polls") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-framadate-polls-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-votes") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-framadate-votes-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-blue">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-comments") %></h3>
                </div>
                <div class="panel-body">
                  <div id="morris-line-chart-framadate-comments-<%= dev_id %>"></div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
<% end %>

