<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mazi Portal">
  <meta name="author" content="nitlab">

  <title><%= local_data[:config_data][:title] %></title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/index_main.css" rel="stylesheet" type="text/css">
  <link href="css/plugins/morris.css" rel="stylesheet" type="text/css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <% js.each do |j| %>
    <script src="<%= j %>"></script>
  <% end %>
  <style type="text/css">
    @media(min-width:768px) {
      .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #<%= local_data[:config_data][:side_panel_color]%>;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
      }

      .side-nav>li>a {
        width: 225px;
      }

      .side-nav li a:hover,
      .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
      }
    }

    .side-nav{
      background-color: #<%= local_data[:config_data][:side_panel_color]%> !important;
    }

    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
      .navbar-inverse .navbar-nav > .active > a:focus {
      background-color: #<%= local_data[:config_data][:side_panel_active_color]%> !important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
      background-color: #<%= local_data[:config_data][:side_panel_active_color]%> !important;
    }

    .top-nav>li>a:hover,
    .top-nav>li>a:focus,
    .top-nav>.open>a,
    .top-nav>.open>a:hover,
    .top-nav>.open>a:focus {
      background-color: #<%= local_data[:config_data][:top_panel_active_color]%> !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background-color: #<%= local_data[:config_data][:top_panel_color]%> !important;
    }
  </style>
</head>

<body>

  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index"><%= local_data[:config_data][:title] %></a>
      </div>
      <ul class="nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu alert-dropdown">
            <li>
              <a href="#"><span class="label label-success">New</span> Welcome</a>
            </li>
            <li>
              <a href="#"><span class="label label-success">New</span> Patch Notes</a>
            </li>
            <li>
              <a href="#"><span class="label label-default">Read</span> New Application</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li class="active">
            <a href="index"><i class="fa fa-fw fa-dashboard"></i> Aplications</a>
          </li>
          <li>
            <a href="index"><i class="fa fa-fw fa-dashboard"></i> Statistics</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">

        <% local_data[:error_msg] = error_msg %>
        <%= erb main_body, locals: local_data %>

      </div>
    </div>
<!-- 
    <script type="text/javascript">
      $(document).ready(function() {
        console.log('qqqq');
        $('.side-nav').css('background-color', <%= local_data[:config_data][:side_panel_color]%>);
      });
    </script> -->
  </div>
</body>
</html>
