<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mazi Portal">
  <meta name="author" content="nitlab">

  <title><%= local_data[:config_data][:title] %></title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/jquery-ui.min.css" rel="stylesheet">
  <link href="css/index_main.css" rel="stylesheet" type="text/css">
  <link href="css/plugins/morris.css" rel="stylesheet" type="text/css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/jquery.datetimepicker.css">
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/index_main.js"></script>
  <script src="js/moment.js"></script>
  <script type='text/javascript' src='js/plugins/unitegallery/js/unitegallery.min.js'></script>
  <link rel='stylesheet' href='js/plugins/unitegallery/css/unite-gallery.css' type='text/css' />
  <link rel='stylesheet' href='css/languages.min.css' type='text/css' />
  <script type='text/javascript' src='js/plugins/unitegallery/themes/default/ug-theme-default.js'></script>
  <link rel='stylesheet' href='js/plugins/unitegallery/themes/default/ug-theme-default.css' type='text/css' />
  <link rel='stylesheet' href='js/plugins/jvectormap/jquery-jvectormap-2.0.3.css' type='text/css' />
  <% js.each do |j| %>
  <script src="<%= j %>"></script>
  <% end %>
  <style type="text/css">
    @media(min-width:768px) {
      .side-nav {
        background-color: #<%= local_data[:config_data][:side_panel_color]%>;
      }

      .side-nav li a:hover,
      .side-nav li a:focus {
        background-color: #000 !important;
      }
    }

    .side-nav{
      background-color: #<%= local_data[:config_data][:side_panel_color]%> !important;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
      .navbar-inverse .navbar-nav > .active > a:focus {
      background-color: #<%= local_data[:config_data][:side_panel_active_color]%> !important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
      background-color: #<%= local_data[:config_data][:side_panel_active_color]%> !important;
    }

    .top-nav>li>a:hover,
    .top-nav>li>a:focus,
    .top-nav>.open>a,
    .top-nav>.open>a:hover,
    .top-nav>.open>a:focus {
      background-color: #<%= local_data[:config_data][:top_panel_active_color]%> !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background-color: #<%= local_data[:config_data][:top_panel_color]%> !important;
    }

    .bot-nav{
      background-color: #<%= local_data[:config_data][:top_panel_color]%> !important;
    }
  </style>
</head>

<body>

  <div id="wrapper">

    <% local_data[:main_body]       = main_body %>
    <% local_data[:locale]          = locale %>
    <% local_data[:locales]         = locales %>
    <% local_data[:sensors_enabled] = sensors_enabled %>
    <% local_data[:camera_enabled]  = camera_enabled %>
    <%= erb :index_main_menu, locals: local_data %>

    <div id="page-wrapper">
      <div class="container-fluid">

        <% local_data[:error_msg] = error_msg %>
        <%= erb main_body, locals: local_data %>

      </div>
    </div>


    <% local_data[:notifications].each do |notification|%>

    <div class="modal fade" id="show-notification-modal-<%= notification.id %>" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header notification-modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= notification.title %></h4>
          </div>
          <div class="modal-body">
            <p>
              <%= notification.body %>
            </p>
          </div>
          <div class="modal-footer notification-modal-footer">
            <button type="button" class="btn btn-default notification-close" data-dismiss="modal" id="notification-close-<%= notification.id %>">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <script type="text/javascript">
    function showDate(date, o){
      var newdate = moment(date).add(o, 'milliseconds');
      $("#time").text(newdate.format("D MMM YYYY HH:mm zz"));
      $("#time2").text(newdate.format("D MMM YYYY HH:mm zz"));
      setTimeout(function () { showDate(newdate, 10000); }, 10000);
    }

    var mom = null;
    if(navigator.userAgent.indexOf("Firefox") != -1 ){
      mom = moment('<%= Time.now.strftime("%Y-%m-%d %H:%M:%S%z") %>');
    }
    else{
      mom = moment(Date.parse('<%= Time.now %>'));
    }
    showDate(mom, 0);
  </script>
</body>
</html>
