<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= config_data[:applications_title]%> <small><%= config_data[:applications_subtitle]%></small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="row">
    <div class="col-xs-11 text-justify panel-desc">
      <p class='welcome-txt'> <%= config_data[:applications_welcome_text]%> </p>
    </div>
  </div>
</div>

<div class="row">
  <% cnt = 0 %>
  <% colors = ['green', 'red', 'yellow', 'blue', 'purple']%>
  <% icons = ['file-text-o', 'search', 'cloud', 'tasks', 'ambulance', 'plane', 'shield', 'shopping-cart']%>
  <% applications.each do |app| %>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
    <div class="panel panel-<%= colors[cnt % colors.length] %>">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-<%= icons[cnt % icons.length] %> fa-5x"></i>
          </div>
          <div class="col-xs-9 text-center">
              <div class="huge"><%= app.name %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11 text-justify">
            <p class="panel-desc"><%= app.description %></p>
          </div>
        </div>
      </div>
      <a href="<%= app.url %>">
        <div class="panel-footer">
          <span class="pull-left">Start Application</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <% cnt += 1 %>
  <% end %>
</div>
