<div class="jumbotron">
  <h1><%= I18n.translate("portal.camera-page.header") %></h1>
  <p><%= I18n.translate("portal.camera-page.subheader") %></p>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><%= I18n.translate("portal.camera-page.live-stream-header") %></div>
      <div class="panel-body">
        <% if camera_installed && rpi_enabled %>
        <div><img class="img-responsive center-block" id="mjpeg_dest"/></div>
        <% else %>
        <p><%= I18n.translate("portal.camera-page.no-camera-warn") %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><%= I18n.translate("portal.camera-page.media-library-header") %></div>
      <div class="panel-body">
      <% if rpi_files[:photos].empty? && rpi_files[:videos].empty? %>
        <p><%= I18n.translate("portal.camera-page.no-media-warn") %></p>
      <% else %>
      <div id="gallery" style="display:none;">
        <% rpi_files[:photos].each do |file| %>
          <img src="<%= "#{file}.i#{file.split('_')[2]}.th.jpg" %>"
          data-image="<%= file %>"
          data-description="">
        <% end %>
        <% rpi_files[:videos].each do |file| %>
        <img alt="Html5 Video"
          src="<%= "#{file}.v#{file.split('_')[2]}.th.jpg" %>"
          data-type="html5video"
          data-videomp4="<%= file %>"
          data-description="">
        <% end %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
