<div class="jumbotron">
  <h1><%= config_data[:applications_title]%> <small><%= I18n.translate("portal.monitoring-page.subheader") %></small></h1>
  <p><%= I18n.translate("portal.monitoring-page.header-message") %></p>
</div>

<div class="row">
  <div id="world-map-wrap">
    <div id="world-map"></div>
  </div>
</div>

<script type="text/javascript">
  var points = <%= all_devices.to_json %>;
  var temperature_data = {};
  var humidity_data = {};
  var pressure_data = {};
  var etherpad_data = {};
  var guestbook_data = {};
  var framadate_data = {};
  <% device_data.each do |data| %>
    <% data[:data].each do |device_id, sensors| %>
      <% next unless data[:device][:id] == device_id %>
      <% sensors.each do |sensor_name, measurements| %>
        <% if sensor_name == 'sensehat' %>
    if(temperature_data['<%=device_id%>'] == null){
      temperature_data['<%=device_id%>'] = {};
    }
    if(humidity_data['<%=device_id%>'] == null){
      humidity_data['<%=device_id%>'] = {};
    }
    if(pressure_data['<%=device_id%>'] == null){
      pressure_data['<%=device_id%>'] = {};
    }
    temperature_data['<%=device_id%>']['<%=sensor_name%>'] = JSON.parse('<%= measurements[:temperatures].to_json %>');
    humidity_data['<%=device_id%>']['<%=sensor_name%>'] = JSON.parse('<%= measurements[:humidities].to_json %>');
    pressure_data['<%=device_id%>']['<%=sensor_name%>'] = JSON.parse('<%= measurements[:pressures].to_json %>');
        <% elsif sensor_name == 'sht11' %>
    if(temperature_data['<%=device_id%>'] == null){
      temperature_data['<%=device_id%>'] = {};
    }
    if(humidity_data['<%=device_id%>'] == null){
      humidity_data['<%=device_id%>'] = {};
    }
    temperature_data['<%=device_id%>']['<%=sensor_name%>'] = JSON.parse('<%= measurements[:temperatures].to_json %>');
    humidity_data['<%=device_id%>']['<%=sensor_name%>'] = JSON.parse('<%= measurements[:humidities].to_json %>');
        <% elsif sensor_name == 'etherpad' %>
    if(etherpad_data['<%=device_id%>'] == null){
      etherpad_data['<%=device_id%>'] = {};
    }
    etherpad_data['<%=device_id%>']['pads'] = JSON.parse('<%= measurements[:pads].to_json %>');
    etherpad_data['<%=device_id%>']['users'] = JSON.parse('<%= measurements[:users].to_json %>');
    etherpad_data['<%=device_id%>']['datasize'] = JSON.parse('<%= measurements[:datasize].to_json %>');
        <% elsif sensor_name == 'guestbook' %>
    if(guestbook_data['<%=device_id%>'] == null){
      guestbook_data['<%=device_id%>'] = {};
    }
    guestbook_data['<%=device_id%>']['submissions'] = JSON.parse('<%= measurements[:submissions].to_json %>');
    guestbook_data['<%=device_id%>']['comments'] = JSON.parse('<%= measurements[:comments].to_json %>');
    guestbook_data['<%=device_id%>']['images'] = JSON.parse('<%= measurements[:images].to_json %>');
    guestbook_data['<%=device_id%>']['datasize'] = JSON.parse('<%= measurements[:datasize].to_json %>');
        <% elsif sensor_name == 'framadate' %>
    if(framadate_data['<%=device_id%>'] == null){
      framadate_data['<%=device_id%>'] = {};
    }
    framadate_data['<%=device_id%>']['polls'] = JSON.parse('<%= measurements[:polls].to_json %>');
    framadate_data['<%=device_id%>']['comments'] = JSON.parse('<%= measurements[:comments].to_json %>');
    framadate_data['<%=device_id%>']['votes'] = JSON.parse('<%= measurements[:votes].to_json %>');
        <% elsif sensor_name == 'system' %>

        <% else %>
          console.log("wwwooottt <%= sensor_name%>");
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</script>

<% device_data.each do |data| %>
  <% device = data[:device]%>
<div class="modal fade" id="monitoring-modal-for-<%= device[:id]%>" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.translate("portal.monitoring-page.popups.device")%> <%= device[:name] %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.deployment")%>:</b> <%= device[:deployment]%></p>
            </div>
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.administrator")%>:</b> <%= device[:admin]%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.description")%>:</b> <%= device[:description]%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.latitude")%>:</b> <%= device[:latLng].first %></p>
            </div>
            <div class="col-md-6">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.longitude")%>:</b> <%= device[:latLng].last %></p>
            </div>
          </div>
          <% data[:data].each do |device_id, sensors| %>
            <% next unless device_id == device[:id] %>
            <% unless sensors['system'].nil? || sensors['system'].empty? %>
          <div class="row">
            <div class="col-md-12">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.system_info")%>:</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_temp")%>:</b> <%= sensors['system'][:cpu_temp] %> °C</p>
            </div>
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_load")%>:</b> <%= sensors['system'][:cpu_usage] %>%</p>
            </div>
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.ram_load")%>:</b> <%= sensors['system'][:ram_usage] %>%</p>
            </div>
            <div class="col-md-3">
              <p><b><%= I18n.translate("portal.monitoring-page.popups.storage_use")%>:</b> <%= sensors['system'][:storage] %>%</p>
            </div>
          </div>
            <% end %>
          <% end %>
        </div>
        <% data[:data].each do |device_id, sensors| %>
          <% next unless device_id == device[:id] %>
          <% sensors.each do |sensor_name, values|%>
            <% if sensor_name == 'sensehat' || sensor_name == 'sht11' %>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-green">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-thermometer"></i> <%= I18n.translate("portal.sensors-page.temperature-for", sensor:  sensor_name) %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-temp-<%= device_id %>-<%= sensor_name %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-blue">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-line-chart"></i> <%= I18n.translate("portal.sensors-page.humidity-for", sensor:  sensor_name) %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-hum-<%= device_id %>-<%= sensor_name %>"></div>
              </div>
            </div>
          </div>
        </div>
              <% if sensor_name == 'sensehat' %>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bullseye"></i> <%= I18n.translate("portal.sensors-page.pressure-for", sensor:  sensor_name) %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-press-<%= device_id %>-<%= sensor_name %>"></div>
              </div>
            </div>
          </div>
        </div>
              <% end %>
            <% elsif sensor_name == 'etherpad' %>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-green">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-pads") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-etherpad-pads-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-blue">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-users") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-etherpad-users-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-datasize") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-etherpad-datasize-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
            <% elsif sensor_name == 'guestbook' %>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-green">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-submissions") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-guestbook-submissions-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-blue">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-comments") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-guestbook-comments-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-images") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-guestbook-images-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-red">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-datasize") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-guestbook-datasize-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
            <% elsif sensor_name == 'framadate' %>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-green">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-polls") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-framadate-polls-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-votes") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-framadate-votes-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-blue">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-comments") %></h3>
              </div>
              <div class="panel-body">
                <div id="morris-line-chart-framadate-comments-<%= device_id %>"></div>
              </div>
            </div>
          </div>
        </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
