  <div class='row mon_map_row' style="height: 1000px">
    <div id="mapdiv" style="height: 100%"></div>
    <% deployments.each do |dep_id, deployment| %>
      <% deployment[:devices].each do |dev_id, device| %>
    <div class="modal fade" id="show-device-<%= dev_id %>-modal" role="dialog">
      <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= I18n.translate("portal.monitoring-page.popups.device")%> <%= device[:title] %></h4>
          </div>
          <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.deployment")%>:</b> <%= deployment[:deployment]%></p>
                </div>
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.administrator")%>:</b> <%= device[:administrator]%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.description")%>:</b> <%= device[:description]%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.latitude")%>:</b> <%= device[:latLng].first %></p>
                </div>
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.longitude")%>:</b> <%= device[:latLng].last %></p>
                </div>
              </div>
              <div class="row system-row" <%= 'style="display: none;"' if device[:system].nil? || device[:system].empty? %>>
                <div class="col-md-12">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.system_info")%>:</b></p>
                </div>
              </div>
              <div class="row system-row" <%= 'style="display: none;"' if device[:system].nil? || device[:system].empty? %>>
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_temp")%>:</b> <span class="system-temp"><%= device[:system][:cpu_temp] %></span> °C</p>
                </div>
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_load")%>:</b> <span class="system-cpu"><%= device[:system][:cpu_usage] %></span>%</p>
                </div>
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.ram_load")%>:</b> <span class="system-ram"><%= device[:system][:ram_usage] %></span>%</p>
                </div>
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.storage_use")%>:</b> <span class="system-stor"><%= device[:system][:storage] %></span>%</p>
                </div>
              </div>
              <div class="panel-group" id="accordion">
              <% if device[:users] %>
                <div class="panel panel-purple">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapseUsers-<%= dev_id %>" class="collapsed toggle-collapse-wifi" id="toggle-collapse-wifi-<%= dev_id %>">
                        <i class="fa fa-wifi"> </i> <%= I18n.translate("portal.monitoring-page.popups.wifi-users") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapseUsers-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-wifiusers-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              <% end %>

              <% device[:sensors].each do |sensor_id, sensor|%>
                <div class="panel panel-green">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-temp-<%= dev_id %>-<%= sensor[:id] %>" class="collapsed toggle-collapse-temp" id="toggle-collapse-temp-<%= dev_id %>-<%= sensor_id %>" >
                        <i class="fa fa-thermometer"></i> <%= I18n.translate("portal.sensors-page.temperature-for", sensor: sensor[:sensor_name]) %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-temp-<%= dev_id %>-<%= sensor[:id] %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-temp-<%= dev_id %>-<%= sensor[:id] %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-blue">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-hum-<%= dev_id %>-<%= sensor[:id] %>" class="collapsed toggle-collapse-hum" id="toggle-collapse-hum-<%= dev_id %>-<%= sensor_id %>" >
                        <i class="fa fa-tint"></i> <%= I18n.translate("portal.sensors-page.humidity-for", sensor: sensor[:sensor_name]) %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-hum-<%= dev_id %>-<%= sensor[:id] %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-hum-<%= dev_id %>-<%= sensor[:id] %>"></div>
                    </div>
                  </div>
                </div>
                <% if sensor[:sensor_name] == 'sensehat' %>
                <div class="panel panel-yellow">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-press-<%= dev_id %>-<%= sensor[:id] %>" class="collapsed toggle-collapse-press" id="toggle-collapse-press-<%= dev_id %>-<%= sensor_id %>" >
                        <i class="fa fa-chart-line"></i> <%= I18n.translate("portal.sensors-page.pressure-for", sensor: sensor[:sensor_name]) %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-press-<%= dev_id %>-<%= sensor[:id] %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-press-<%= dev_id %>-<%= sensor[:id] %>"></div>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>

              <% device[:applications].each do |app_name, application|%>
                <% if app_name == 'etherpad' %>
                <div class="panel panel-green">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-etherpad-pads-<%= dev_id %>" class="collapsed toggle-collapse-etherpad-pads" id="toggle-collapse-etherpad-pads-<%= dev_id %>" >
                        <i class="fa fa-file-alt"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-pads") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-etherpad-pads-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-etherpad-pads-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-blue">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-etherpad-users-<%= dev_id %>" class="collapsed toggle-collapse-etherpad-users" id="toggle-collapse-etherpad-users-<%= dev_id %>" >
                        <i class="fa fa-file-alt"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-users") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-etherpad-users-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-etherpad-users-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-yellow">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-etherpad-datasize-<%= dev_id %>" class="collapsed toggle-collapse-etherpad-datasize" id="toggle-collapse-etherpad-datasize-<%= dev_id %>" >
                        <i class="fa fa-file-alt"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-datasize") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-etherpad-datasize-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-etherpad-datasize-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-purple">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-etherpad-clicks-<%= dev_id %>" class="collapsed toggle-collapse-etherpad-clicks" id="toggle-collapse-etherpad-clicks-<%= dev_id %>" >
                        <i class="fa fa-file-alt"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-clicks") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-etherpad-clicks-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-etherpad-clicks-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <% elsif app_name == 'guestbook' %>
                <div class="panel panel-green">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-guestbook-submissions-<%= dev_id %>" class="collapsed toggle-collapse-guestbook-submissions" id="toggle-collapse-guestbook-submissions-<%= dev_id %>" >
                        <i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-submissions") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-guestbook-submissions-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-submissions-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-blue">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-guestbook-comments-<%= dev_id %>" class="collapsed toggle-collapse-guestbook-comments" id="toggle-collapse-guestbook-comments-<%= dev_id %>" >
                        <i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-comments") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-guestbook-comments-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-comments-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-yellow">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-guestbook-images-<%= dev_id %>" class="collapsed toggle-collapse-guestbook-images" id="toggle-collapse-guestbook-images-<%= dev_id %>" >
                        <i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-images") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-guestbook-images-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-images-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-red">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-guestbook-datasize-<%= dev_id %>" class="collapsed toggle-collapse-guestbook-datasize" id="toggle-collapse-guestbook-datasize-<%= dev_id %>" >
                        <i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-datasize") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-guestbook-datasize-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-datasize-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-purple">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-guestbook-clicks-<%= dev_id %>" class="collapsed toggle-collapse-guestbook-clicks" id="toggle-collapse-guestbook-clicks-<%= dev_id %>" >
                        <i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-clicks") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-guestbook-clicks-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-clicks-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <% elsif app_name == 'framadate' %>
                <div class="panel panel-green">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-framadate-polls-<%= dev_id %>" class="collapsed toggle-collapse-framadate-polls" id="toggle-collapse-framadate-polls-<%= dev_id %>" >
                        <i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-polls") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-framadate-polls-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-framadate-polls-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-yellow">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-framadate-votes-<%= dev_id %>" class="collapsed toggle-collapse-framadate-votes" id="toggle-collapse-framadate-votes-<%= dev_id %>" >
                        <i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-votes") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-framadate-votes-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-framadate-votes-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-blue">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-framadate-comments-<%= dev_id %>" class="collapsed toggle-collapse-framadate-comments" id="toggle-collapse-framadate-comments-<%= dev_id %>" >
                        <i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-comments") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-framadate-comments-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-framadate-comments-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-purple">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-framadate-clicks-<%= dev_id %>" class="collapsed toggle-collapse-framadate-clicks" id="toggle-collapse-framadate-clicks-<%= dev_id %>" >
                        <i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-clicks") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-framadate-clicks-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-framadate-clicks-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <% elsif app_name == 'nextcloud' %>
                <div class="panel panel-green">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-nextcloud-users-<%= dev_id %>" class="collapsed toggle-collapse-nextcloud-users" id="toggle-collapse-nextcloud-users-<%= dev_id %>" >
                        <i class="fa fa-cloud"></i> <%= I18n.translate("portal.monitoring-page.popups.nextcloud-users") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-nextcloud-users-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-nextcloud-users-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-yellow">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-nextcloud-files-<%= dev_id %>" class="collapsed toggle-collapse-nextcloud-files" id="toggle-collapse-nextcloud-files-<%= dev_id %>" >
                        <i class="fa fa-cloud"></i> <%= I18n.translate("portal.monitoring-page.popups.nextcloud-files") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-nextcloud-files-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-nextcloud-files-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-blue">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-nextcloud-downloads-<%= dev_id %>" class="collapsed toggle-collapse-nextcloud-downloads" id="toggle-collapse-nextcloud-downloads-<%= dev_id %>" >
                        <i class="fa fa-cloud"></i> <%= I18n.translate("portal.monitoring-page.popups.nextcloud-downloads") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-nextcloud-downloads-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-nextcloud-downloads-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-red">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-nextcloud-datasize-<%= dev_id %>" class="collapsed toggle-collapse-nextcloud-datasize" id="toggle-collapse-nextcloud-datasize-<%= dev_id %>" >
                        <i class="fa fa-cloud"></i> <%= I18n.translate("portal.monitoring-page.popups.nextcloud-datasize") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-nextcloud-datasize-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-nextcloud-datasize-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-purple">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-target="#collapse-nextcloud-clicks-<%= dev_id %>" class="collapsed toggle-collapse-nextcloud-clicks" id="toggle-collapse-nextcloud-clicks-<%= dev_id %>" >
                        <i class="fa fa-cloud"></i> <%= I18n.translate("portal.monitoring-page.popups.nextcloud-clicks") %>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse-nextcloud-clicks-<%= dev_id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="morris-line-chart-nextcloud-clicks-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>

  <script type="text/javascript">
    <% points = [] %>
    <% device_ids = [] %>
    <% deployments.each do |dep_id, deployment| %>
      <% deployment[:devices].each do |dev_id, device| %>
        <% points << {id: device[:id], name: device[:title], latLng: device[:latLng]} %>
        <% device_ids << dev_id %>
      <% end %>
    <% end %>
    var points = <%= points.to_json %>;
    var device_ids = <%= device_ids.to_json %>;
    var zoom = 4;
    var map = new OpenLayers.Map("mapdiv");
    var flag = true;
    map.addLayer(new OpenLayers.Layer.OSM());
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    $.each(points, function(i, point){
      var lonLat = new OpenLayers.LonLat( point.latLng[1], point.latLng[0] ).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
      var marker = new OpenLayers.Marker(lonLat);
      marker.id = point['id'];
      marker.events.register("click", marker, function() {
        $('.modal').modal('hide');
        // loadGraphsForDevice(marker.id);
        $('#show-device-' + marker.id + '-modal').modal('show');
      });
      marker.events.register("touchstart", marker, function() {
        $('.modal').modal('hide');
        // loadGraphsForDevice(marker.id);
        $('#show-device-' + marker.id + '-modal').modal('show');
      });
      markers.addMarker(marker);
    });

    var newBound = markers.getDataExtent();
    map.zoomToExtent(newBound);

    $('.toggle-collapse-wifi').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/data/wifi',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawWifiGraphsFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-temp').on('click', function(event){
      var tmp = event.target.id.split('-');
      var sensor_id = tmp.pop();
      var device_id = tmp.pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/sensor/' + sensor_id + '/data/temperatures',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawTempGraphsFromResult(device_id, sensor_id, result);
        }
      });
    });

    $('.toggle-collapse-hum').on('click', function(event){
      var tmp = event.target.id.split('-');
      var sensor_id = tmp.pop();
      var device_id = tmp.pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/sensor/' + sensor_id + '/data/humidities',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawHumGraphsFromResult(device_id, sensor_id, result);
        }
      });
    });

    $('.toggle-collapse-press').on('click', function(event){
      var tmp = event.target.id.split('-');
      var sensor_id = tmp.pop();
      var device_id = tmp.pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/sensor/' + sensor_id + '/data/pressures',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawPressGraphsFromResult(device_id, sensor_id, result);
        }
      });
    });

    $('.toggle-collapse-etherpad-pads').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/etherpad/data/pads',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawEtherpadPadsGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-etherpad-users').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/etherpad/data/users',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawEtherpadUsersGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-etherpad-datasize').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/etherpad/data/datasize',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawEtherpadDatasizeGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-etherpad-clicks').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/etherpad/data/clicks',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawEtherpadClicksGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-guestbook-submissions').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/guestbook/data/submissions',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawGuestbookSubmissionsGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-guestbook-comments').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/guestbook/data/comments',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawGuestbookCommentsGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-guestbook-images').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/guestbook/data/images',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawGuestbookImagesGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-guestbook-datasize').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/guestbook/data/datasize',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawGuestbookDatasizeGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-guestbook-clicks').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/guestbook/data/clicks',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawGuestbookClicksGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-framadate-polls').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/framadate/data/polls',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawFramadatePollsGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-framadate-votes').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/framadate/data/votes',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawFramadateVotesGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-framadate-comments').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/framadate/data/comments',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawFramadateCommentsGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-framadate-clicks').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/framadate/data/clicks',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawFramadateClicksGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-nextcloud-users').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/nextcloud/data/users',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawNextcloudUsersGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-nextcloud-files').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/nextcloud/data/files',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawNextcloudFilesGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-nextcloud-downloads').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/nextcloud/data/downloads',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawNextcloudDownloadsGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-nextcloud-datasize').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/nextcloud/data/datasize',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawNextcloudDatasizeGraphFromResult(device_id, result);
        }
      });
    });

    $('.toggle-collapse-nextcloud-clicks').on('click', function(event){
      var device_id = event.target.id.split('-').pop();
      $.ajax({
        url: '/maps/device/' + device_id + '/application/nextcloud/data/clicks',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result);
          drawNextcloudClicksGraphFromResult(device_id, result);
        }
      });
    });

    function drawWifiGraphsFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-wifiusers-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-wifiusers-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['online_users'],
            labels: ['Number of WiFi Users', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawTempGraphsFromResult(device_id, sensor_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-temp-' + device_id + "-" + sensor_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-temp-' + device_id + '-' + sensor_id,
            data: data,
            xkey: 'date',
            ykeys: ['temp'],
            labels: ['Temperature(Celcius)', 'Date'],
            smooth: true,
            resize: true,
            ymax: 50,
            ymin: -20,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawHumGraphsFromResult(device_id, sensor_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-hum-' + device_id + "-" + sensor_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-hum-' + device_id + '-' + sensor_id,
            data: data,
            xkey: 'date',
            ykeys: ['hum'],
            labels: ['Humidity(Percent)', 'Date'],
            smooth: true,
            resize: true,
            ymax: 100,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawPressGraphsFromResult(device_id, sensor_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-press-' + device_id + "-" + sensor_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-press-' + device_id + '-' + sensor_id,
            data: data,
            xkey: 'date',
            ykeys: ['pres'],
            labels: ['Pressure(millibars)', 'Date'],
            smooth: true,
            resize: true,
            ymax: 1200,
            ymin: 800,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawEtherpadPadsGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-etherpad-pads-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-etherpad-pads-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['pads'],
            labels: ['Files', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawEtherpadUsersGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-etherpad-users-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-etherpad-users-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['users'],
            labels: ['Downloads', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawEtherpadDatasizeGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-etherpad-datasize-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-etherpad-datasize-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['datasize'],
            labels: ['Datasize', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawEtherpadClicksGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-etherpad-clicks-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-etherpad-clicks-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['clicks'],
            labels: ['Number of Etherpad Clicks', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawGuestbookSubmissionsGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-guestbook-submissions-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-guestbook-submissions-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['submissions'],
            labels: ['Users', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawGuestbookCommentsGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-guestbook-comments-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-guestbook-comments-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['comments'],
            labels: ['Files', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawGuestbookImagesGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-guestbook-images-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-guestbook-images-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['images'],
            labels: ['Downloads', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawGuestbookDatasizeGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-guestbook-datasize-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-guestbook-datasize-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['datasize'],
            labels: ['Datasize', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawGuestbookClicksGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-guestbook-clicks-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-guestbook-clicks-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['clicks'],
            labels: ['Number of Nextcloud Clicks', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawFramadatePollsGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-framadate-polls-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-framadate-polls-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['polls'],
            labels: ['Users', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawFramadateVotesGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-framadate-votes-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-framadate-votes-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['votes'],
            labels: ['Users', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawFramadateCommentsGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-framadate-comments-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-framadate-comments-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['comments'],
            labels: ['Users', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawFramadateClicksGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-framadate-clicks-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-framadate-clicks-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['clicks'],
            labels: ['Users', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawNextcloudUsersGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-nextcloud-users-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-nextcloud-users-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['users'],
            labels: ['Users', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawNextcloudFilesGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-nextcloud-files-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-nextcloud-files-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['files'],
            labels: ['Files', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawNextcloudDownloadsGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-nextcloud-downloads-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-nextcloud-downloads-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['downloads'],
            labels: ['Downloads', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawNextcloudDatasizeGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-nextcloud-datasize-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-nextcloud-datasize-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['datasize'],
            labels: ['Datasize', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }

    function drawNextcloudClicksGraphFromResult(device_id, data){
      if(!$.isEmptyObject(data)){
        if ($("#" + 'morris-line-chart-nextcloud-clicks-' + device_id).text().length == 0){
          Morris.Line({
            element: 'morris-line-chart-nextcloud-clicks-' + device_id,
            data: data,
            xkey: 'date',
            ykeys: ['clicks'],
            labels: ['Number of Nextcloud Clicks', 'Date'],
            smooth: true,
            resize: true,
            ymin: 0,
            hideHover: 'auto'
          });
        }
      }
    }
  </script>
