  <div class='row mon_map_row' style="height: 1000px">  
    <div id="mapdiv" style="height: 100%"></div>
    <% deployments.each do |dep_id, deployment| %>
      <% deployment[:devices].each do |dev_id, device| %>
    <div class="modal fade" id="show-device-<%= dev_id %>-modal" role="dialog">
      <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= I18n.translate("portal.monitoring-page.popups.device")%> <%= device[:title] %></h4>
          </div>
          <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.deployment")%>:</b> <%= deployment[:deployment]%></p>
                </div>
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.administrator")%>:</b> <%= device[:administrator]%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.description")%>:</b> <%= device[:description]%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.latitude")%>:</b> <%= device[:latLng].first %></p>
                </div>
                <div class="col-md-6">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.longitude")%>:</b> <%= device[:latLng].last %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.system_info")%>:</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_temp")%>:</b> <%= device[:system][:cpu_temp] %> °C</p>
                </div>
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.cpu_load")%>:</b> <%= device[:system][:cpu_usage] %>%</p>
                </div>
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.ram_load")%>:</b> <%= device[:system][:ram_usage] %>%</p>
                </div>
                <div class="col-md-3">
                  <p><b><%= I18n.translate("portal.monitoring-page.popups.storage_use")%>:</b> <%= device[:system][:storage] %>%</p>
                </div>
              </div>
              
              <% device[:sensors].each do |sensor_id, sensor|%>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-thermometer"></i> <%= I18n.translate("portal.sensors-page.temperature-for", sensor: sensor[:sensor_name]) %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-temp-<%= dev_id %>-<%= sensor[:id] %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-blue">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-line-chart"></i> <%= I18n.translate("portal.sensors-page.humidity-for", sensor: sensor[:sensor_name]) %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-hum-<%= dev_id %>-<%= sensor[:id] %>"></div>
                    </div>
                  </div>
                </div>
              </div>
                <% if sensor[:sensor_name] == 'sensehat' %>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-yellow">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bullseye"></i> <%= I18n.translate("portal.sensors-page.pressure-for", sensor: sensor[:sensor_name]) %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-press-<%= dev_id %>-<%= sensor[:id] %>"></div>
                    </div>
                  </div>
                </div>
              </div>
                <% end %>
              <% end %>

              <% device[:applications].each do |app_name, application|%>
                <% if app_name == 'etherpad' %>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-pads") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-etherpad-pads-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-blue">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-users") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-etherpad-users-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-yellow">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-file-text-o"></i> <%= I18n.translate("portal.monitoring-page.popups.etherpad-datasize") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-etherpad-datasize-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <% elsif app_name == 'guestbook' %>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-submissions") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-submissions-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-blue">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-comments") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-comments-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-yellow">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-images") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-images-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-red">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-book"></i> <%= I18n.translate("portal.monitoring-page.popups.guestbook-datasize") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-guestbook-datasize-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <% elsif app_name == 'framadate' %>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-polls") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-framadate-polls-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-yellow">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-votes") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-framadate-votes-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-blue">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-question"></i> <%= I18n.translate("portal.monitoring-page.popups.framadate-comments") %></h3>
                    </div>
                    <div class="panel-body">
                      <div id="morris-line-chart-framadate-comments-<%= dev_id %>"></div>
                    </div>
                  </div>
                </div>
              </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
    <script>
      var degrees2meters = function(lon,lat) {
        var x = lon * 20037508.34 / 180;
        var y = Math.log(Math.tan((90 + lat) * Math.PI / 360)) / (Math.PI / 180);
        y = y * 20037508.34 / 180;
        return [x, y]
      }

      var temperature_data = {};
      var humidity_data = {};
      var pressure_data = {};
      var etherpad_data = {};
      var guestbook_data = {};
      var framadate_data = {};
      <% points = [] %>
      <% device_ids = [] %>
      <% deployments.each do |dep_id, deployment| %>
        <% deployment[:devices].each do |dev_id, device| %>
          <% points << {id: device[:id], name: device[:title], latLng: device[:latLng]} %>
          <% device_ids << dev_id %>
      temperature_data['<%=dev_id%>'] = {};
      humidity_data['<%=dev_id%>'] = {};
          <% device[:sensors].each do |sens_id, sensor| %>
      temperature_data['<%=dev_id%>']['<%=sensor[:id]%>'] = <%= sensor[:data][:temperatures].to_json %>;
      humidity_data['<%=dev_id%>']['<%=sensor[:id]%>'] = <%= sensor[:data][:humidities].to_json %>;
            <% if sensor[:sensor_name] == 'sensehat' %>
      pressure_data['<%=dev_id%>'] = {};
      pressure_data['<%=dev_id%>']['<%=sensor[:id]%>'] = <%= sensor[:data][:pressures].to_json %>;
            <% end %>
          <% end %>

          <% device[:applications].each do |app_name, application| %>
            <% if app_name == 'etherpad' %>
      etherpad_data['<%=dev_id%>'] = {};
      etherpad_data['<%=dev_id%>']['pads'] = <%= application[:data][:pads].to_json %>;
      etherpad_data['<%=dev_id%>']['users'] = <%= application[:data][:users].to_json %>;
      etherpad_data['<%=dev_id%>']['datasize'] = <%= application[:data][:datasize].to_json %>;
            <% elsif app_name == 'guestbook' %>
      guestbook_data['<%=dev_id%>'] = {};
      guestbook_data['<%=dev_id%>']['submissions'] = <%= application[:data][:submissions].to_json %>;
      guestbook_data['<%=dev_id%>']['comments'] = <%= application[:data][:comments].to_json %>;
      guestbook_data['<%=dev_id%>']['images'] = <%= application[:data][:images].to_json %>;
      guestbook_data['<%=dev_id%>']['datasize'] = <%= application[:data][:datasize].to_json %>;
            <% elsif app_name == 'framadate' %>
      framadate_data['<%=dev_id%>'] = {};
      framadate_data['<%=dev_id%>']['polls'] = <%= application[:data][:polls].to_json %>;
      framadate_data['<%=dev_id%>']['votes'] = <%= application[:data][:votes].to_json %>;
      framadate_data['<%=dev_id%>']['comments'] = <%= application[:data][:comments].to_json %>;
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      var points = <%= points.to_json %>;
      var device_ids = <%= device_ids.to_json %>;
      console.log(points);
      var zoom=4;
      var map = new OpenLayers.Map("mapdiv");

      map.addLayer(new OpenLayers.Layer.OSM());
      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);

      $.each(points, function(i, point){
        var lonLat = new OpenLayers.LonLat( point.latLng[1], point.latLng[0] ).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
        var marker = new OpenLayers.Marker(lonLat);
        marker.id = point['id'];
        marker.events.register("click", marker, function() {
          console.log("aaaa " + marker.id);
          $('.modal').modal('hide');
          $('#show-device-' + marker.id + '-modal').modal('show');
        });
        markers.addMarker(marker);
      }); 

      map.setCenter(new OpenLayers.LonLat(0, 0), 0);
      map.zoomToMaxExtent();

      $.each(temperature_data, function(device_id, sensors) {
        $.each(sensors, function(sensor_name, measurements){
          Morris.Line({
            element: 'morris-line-chart-temp-' + device_id + '-' + sensor_name,
            data: measurements,
            xkey: 'date',
            ykeys: ['temp'],
            labels: ['Temperature(Celcius)', 'Date'],
            smooth: true,
            resize: true,
            ymax: 50,
            ymin: -20,
            hideHover: 'auto'
          });
        });

        $('#show-device-' + device_id + '-modal').on('shown.bs.modal', function(e) {
          $(window).trigger('resize');
        });
      });

      $.each(humidity_data, function(device_id, sensors) {
        $.each(sensors, function(sensor_name, measurements){
          Morris.Line({
            element: 'morris-line-chart-hum-' + device_id + '-' + sensor_name,
            data: measurements,
            xkey: 'date',
            ykeys: ['hum'],
            labels: ['Humidity(Percent)', 'Date'],
            smooth: true,
            resize: true,
            ymax: 100,
            ymin: 0,
            hideHover: 'auto'
          });
        });
      });

      $.each(pressure_data, function(device_id, sensors) {
        $.each(sensors, function(sensor_name, measurements){
          Morris.Line({
            element: 'morris-line-chart-press-' + device_id + '-' + sensor_name,
            data: measurements,
            xkey: 'date',
            ykeys: ['pres'],
            labels: ['Pressure(millibars)', 'Date'],
            smooth: true,
            resize: true,
            ymax: 1200,
            ymin: 800,
            hideHover: 'auto'
          });
        });
      });

      $.each(etherpad_data, function(device_id, sensors) {
        $.each(sensors, function(sensor_name, measurements){
          switch(sensor_name) {
            case 'pads':
              Morris.Line({
                element: 'morris-line-chart-etherpad-pads-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['pads'],
                labels: ['Number of Pads', 'Date'],
                smooth: true,
                resize: true,
                ymax: 50,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
            case 'users':
              Morris.Line({
                element: 'morris-line-chart-etherpad-users-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['users'],
                labels: ['Number of Users', 'Date'],
                smooth: true,
                resize: true,
                ymax: 50,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
            case 'datasize':
              Morris.Line({
                element: 'morris-line-chart-etherpad-datasize-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['datasize'],
                labels: ['Datasize', 'Date'],
                smooth: true,
                resize: true,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
          }
        });
      });

      $.each(guestbook_data, function(device_id, sensors) {
        $.each(sensors, function(sensor_name, measurements){
          switch(sensor_name) {
            case 'submissions':
              Morris.Line({
                element: 'morris-line-chart-guestbook-submissions-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['submissions'],
                labels: ['Number of Submissions', 'Date'],
                smooth: true,
                resize: true,
                ymax: 50,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
            case 'comments':
              Morris.Line({
                element: 'morris-line-chart-guestbook-comments-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['comments'],
                labels: ['Number of Comments', 'Date'],
                smooth: true,
                resize: true,
                ymax: 50,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
            case 'images':
              Morris.Line({
                element: 'morris-line-chart-guestbook-images-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['images'],
                labels: ['Number of Images', 'Date'],
                smooth: true,
                resize: true,
                ymax: 50,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
            case 'datasize':
              Morris.Line({
                element: 'morris-line-chart-guestbook-datasize-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['datasize'],
                labels: ['Datasize', 'Date'],
                smooth: true,
                resize: true,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
          }
        });
      });

      $.each(framadate_data, function(device_id, sensors) {
        $.each(sensors, function(sensor_name, measurements){
          switch(sensor_name) {
            case 'polls':
              Morris.Line({
                element: 'morris-line-chart-framadate-polls-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['polls'],
                labels: ['Number of Polls', 'Date'],
                smooth: true,
                resize: true,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
            case 'votes':
              Morris.Line({
                element: 'morris-line-chart-framadate-votes-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['votes'],
                labels: ['Number of Votes', 'Date'],
                smooth: true,
                resize: true,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
            case 'comments':
              Morris.Line({
                element: 'morris-line-chart-framadate-comments-' + device_id,
                data: measurements,
                xkey: 'date',
                ykeys: ['comments'],
                labels: ['Number of Comments', 'Date'],
                smooth: true,
                resize: true,
                ymin: 0,
                hideHover: 'auto'
              });
              break;
          }
        });
      });

    </script>