<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mazi Portal">
    <meta name="author" content="nitlab">

    <title><%= I18n.translate("admin.top-menu.header") %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/admin_main.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <link href="css/setup.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='css/languages.min.css' type='text/css' />
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <% js.each do |j| %>
      <script src="<%= j %>"></script>
    <% end %>
  </head>

  <body>
    <div id="wrapper" style="padding-left: 0px">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"><%= I18n.translate("admin.setup-page.tog-nav") %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="admin"><%= I18n.translate("admin.setup-page.setup-panel") %></a>
        </div>
        <ul class="nav navbar-right top-nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="lang-sm lang-lbl" lang="<%= locale %>"></span></a>
          <ul class="dropdown-menu alert-dropdown">
            <% locales.each do |lc|%>
            <li>
              <a href="#" class="language-button" id="<%= lc %>-language-button" data-toggle="dropdown"><span class="lang-sm lang-lbl" lang="<%= lc %>"></span></a>
            </li>
            <% end %>
          </ul>
        </li>
        </ul>
      </nav>

      <div id="page-wrapper">
        <div class="container">
          <div class="row">
            <section style="border-style: solid; border-color: #e0e0e0">
              <div class="wizard">
                <div class="wizard-inner">
                  <div class="connecting-line"></div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                      <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                      </a>
                    </li>
                    <li role="presentation" class="disabled">
                      <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                      </a>
                    </li>
                    <li role="presentation" class="disabled">
                      <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-signal"></i>
                        </span>
                      </a>
                    </li>
                    <li role="presentation" class="disabled">
                      <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-list-alt"></i>
                        </span>
                      </a>
                    </li>
                    <li role="presentation" class="disabled">
                      <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-ok"></i>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>

                <% unless error_msg.nil? %>
                <div class="alert alert-danger">
                  <p><%= error_msg %></p>
                </div>
                <% end %>

                <form role='form' class="form-signin" action="/setup" method="post">
                  <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                      <h3><%= I18n.translate("admin.setup-page.first-step-header") %></h3>
                      <p><%= I18n.translate("admin.setup-page.first-step-message") %></p>
                      <input type="password" name="current-password" class="form-control" placeholder="Current Password" autofocus>
                      <input type="password" name="password" class="form-control" placeholder="New Password">
                      <input type="password" name="confirm-password" class="form-control" placeholder="Confirm Password">
                      <small>*<%= I18n.translate("admin.setup-page.first-step-hint") %></small>
                      <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-primary next-step"><%= I18n.translate("general.buttons.continue") %></button></li>
                      </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2" >
                      <h3><%= I18n.translate("admin.setup-page.second-step-header") %></h3>
                      <p><%= I18n.translate("admin.setup-page.second-step-message") %></p>
                      <input id="datetimepicker" type="text" name='date' class="form-control">
                      <select class="form-control" name='timezone'>
                        <option value=''></option>
                        <% timezones.each do |timezone| %>
                          <option value='<%= timezone %>'><%= timezone %></option>
                        <% end %>
                      </select>
                      <ul class="list-inline pull-right" style='margin-top: 10px;'>
                        <li><button type="button" class="btn btn-default prev-step"><%= I18n.translate("general.buttons.previous") %></button></li>
                        <li><button type="button" class="btn btn-primary next-step"><%= I18n.translate("general.buttons.continue") %></button></li>
                      </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                      <h3><%= I18n.translate("admin.setup-page.third-step-header") %></h3>
                      <p><%= I18n.translate("admin.setup-page.third-step-message") %></p>
                      <input id="ssid" type="text" name='ssid' class="form-control">
                      <small>* <%= I18n.translate("admin.setup-page.third-step-warning") %></small>
                      <ul class="list-inline pull-right" style='margin-top: 10px;'>
                        <li><button type="button" class="btn btn-default prev-step"><%= I18n.translate("general.buttons.previous") %></button></li>
                        <li><button type="button" class="btn btn-primary next-step"><%= I18n.translate("general.buttons.continue") %></button></li>
                      </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step4">
                       <h3><%= I18n.translate("admin.setup-page.fourth-step-header") %></h3>
                      <p><%= I18n.translate("admin.setup-page.fourth-step-message") %></p>
                      <input type="text" name="deployment" class="form-control" placeholder="Deployment Name" autofocus>
                      <input type="text" name="admin" class="form-control" placeholder="Administrator Name">
                      <input type="text" name="title" class="form-control" placeholder="Title">
                      <input type="text" name="description" class="form-control" placeholder="Description">
                      <input type="text" name="location" class="form-control" placeholder="Location (lat, long)">
                      <small>* <%= I18n.translate("admin.setup-page.fourth-step-warning") %></small>
                      <ul class="list-inline pull-right" style='margin-top: 10px;'>
                        <li><button type="button" class="btn btn-default prev-step"><%= I18n.translate("general.buttons.previous") %></button></li>
                        <li><button type="button" class="btn btn-primary next-step"><%= I18n.translate("general.buttons.continue") %></button></li>
                      </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                      <h3><%= I18n.translate("admin.setup-page.last-step-header") %></h3>
                      <p><%= I18n.translate("admin.setup-page.last-step-message") %></p>
                      <ul class="list-inline pull-right" style='margin-top: 10px;'>
                        <li><button type="submit" class="btn btn-primary next-step"><%= I18n.translate("general.buttons.submit") %></button></li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
